<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- enterprise_protocol表:框架协议信息模块 -->
<mapper namespace="com.csjscm.core.framework.dao.EnterpriseProtocolMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.csjscm.core.framework.model.EnterpriseProtocol">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="number" property="number" jdbcType="VARCHAR" />
        <result column="main_contract" property="mainContract" jdbcType="VARCHAR" />
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
        <result column="attachment_url" property="attachmentUrl" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,type,number,main_contract,start_time,end_time,attachment_url,create_time,edit_time 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=INTEGER}
            </if>
            <if test="type != null and type != '' ">
                and type = #{type,jdbcType=INTEGER}
            </if>
            <if test="number != null and number != '' ">
                and number = #{number,jdbcType=VARCHAR}
            </if>
            <if test="mainContract != null and mainContract != '' ">
                and main_contract = #{mainContract,jdbcType=VARCHAR}
            </if>
            <if test="startTime != null">
                and start_time = #{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                and end_time = #{endTime,jdbcType=TIMESTAMP}
            </if>
            <if test="attachmentUrl != null and attachmentUrl != '' ">
                and attachment_url = #{attachmentUrl,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="editTime != null">
                and edit_time = #{editTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from  enterprise_protocol
        where id =   #{id,jdbcType=INTEGER}
    </delete>
    
    <insert id="insert" parameterType="com.csjscm.core.framework.model.EnterpriseProtocol">
        insert into enterprise_protocol(type,number,main_contract,start_time,end_time,attachment_url,create_time,edit_time)values(#{type,jdbcType=INTEGER},#{number,jdbcType=VARCHAR},#{mainContract,jdbcType=VARCHAR},#{startTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP},#{attachmentUrl,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{editTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.csjscm.core.framework.model.EnterpriseProtocol">
        insert into enterprise_protocol
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">
                id,
            </if>
            <if test="type != null ">
                type,
            </if>
            <if test="number != null ">
                number,
            </if>
            <if test="mainContract != null ">
                main_contract,
            </if>
            <if test="startTime != null ">
                start_time,
            </if>
            <if test="endTime != null ">
                end_time,
            </if>
            <if test="attachmentUrl != null ">
                attachment_url,
            </if>
            <if test="createTime != null ">
                create_time,
            </if>
            <if test="editTime != null ">
                edit_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                     <if test="id != null ">
                        #{id,jdbcType=INTEGER},
                     </if>
                     <if test="type != null ">
                        #{type,jdbcType=INTEGER},
                     </if>
                     <if test="number != null ">
                        #{number,jdbcType=VARCHAR},
                     </if>
                     <if test="mainContract != null ">
                        #{mainContract,jdbcType=VARCHAR},
                     </if>
                     <if test="startTime != null ">
                        #{startTime,jdbcType=TIMESTAMP},
                     </if>
                     <if test="endTime != null ">
                        #{endTime,jdbcType=TIMESTAMP},
                     </if>
                     <if test="attachmentUrl != null ">
                        #{attachmentUrl,jdbcType=VARCHAR},
                     </if>
                     <if test="createTime != null ">
                        #{createTime,jdbcType=TIMESTAMP},
                     </if>
                     <if test="editTime != null ">
                        #{editTime,jdbcType=TIMESTAMP},
                     </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.csjscm.core.framework.model.EnterpriseProtocol">
        update enterprise_protocol set 
            type = #{type,jdbcType=INTEGER},
            number = #{number,jdbcType=VARCHAR},
            main_contract = #{mainContract,jdbcType=VARCHAR},
            start_time = #{startTime,jdbcType=TIMESTAMP},
            end_time = #{endTime,jdbcType=TIMESTAMP},
            attachment_url = #{attachmentUrl,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            edit_time = #{editTime,jdbcType=TIMESTAMP}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="com.csjscm.core.framework.model.EnterpriseProtocol">
        update enterprise_protocol
          <set>
            <if test="type != null and type != '' ">        
                type = #{type,jdbcType=INTEGER},                
            </if>
            <if test="number != null and number != '' ">        
                number = #{number,jdbcType=VARCHAR},                
            </if>
            <if test="mainContract != null and mainContract != '' ">        
                main_contract = #{mainContract,jdbcType=VARCHAR},                
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},                
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},                
            </if>
            <if test="attachmentUrl != null and attachmentUrl != '' ">        
                attachment_url = #{attachmentUrl,jdbcType=VARCHAR},                
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},                
            </if>
            <if test="editTime != null">
                edit_time = #{editTime,jdbcType=TIMESTAMP}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from enterprise_protocol
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from enterprise_protocol
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from enterprise_protocol
        <include refid="searchBy"/>
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        select count(id)
        from enterprise_protocol
        <include refid="searchBy"/>
    </select>

</mapper>
