<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- enterprise_member表:企业-会员表模块 -->
<mapper namespace="com.csjscm.core.framework.dao.EnterpriseMemberMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.csjscm.core.framework.model.EnterpriseMember">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="ent_number" property="entNumber" jdbcType="VARCHAR" />
        <result column="ent_name" property="entName" jdbcType="VARCHAR" />
        <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
        <result column="register_address" property="registerAddress" jdbcType="VARCHAR" />
        <result column="business_address" property="businessAddress" jdbcType="VARCHAR" />
        <result column="web_address" property="webAddress" jdbcType="VARCHAR" />
        <result column="business_img" property="businessImg" jdbcType="VARCHAR" />
        <result column="check_state" property="checkState" jdbcType="INTEGER" />
        <result column="trade_type" property="tradeType" jdbcType="INTEGER" />
        <result column="partner_type" property="partnerType" jdbcType="INTEGER" />
        <result column="linkman" property="linkman" jdbcType="VARCHAR" />
        <result column="linkman_phone" property="linkmanPhone" jdbcType="VARCHAR" />
        <result column="register_money" property="registerMoney" jdbcType="VARCHAR" />
        <result column="default_entrepot" property="defaultEntrepot" jdbcType="VARCHAR" />
        <result column="purchase" property="purchase" jdbcType="INTEGER" />
        <result column="sell" property="sell" jdbcType="INTEGER" />
        <result column="tender" property="tender" jdbcType="INTEGER" />
        <result column="bid" property="bid" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,ent_number,ent_name,legal_person,register_address,business_address,web_address,business_img,check_state,trade_type,partner_type,linkman,linkman_phone,register_money,default_entrepot,purchase,sell,tender,bid,create_time,edit_time 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=INTEGER}
            </if>
            <if test="entNumber != null and entNumber != '' ">
                and ent_number = #{entNumber,jdbcType=VARCHAR}
            </if>
            <if test="entName != null and entName != '' ">
                and ent_name = #{entName,jdbcType=VARCHAR}
            </if>
            <if test="entNameLike != null and entNameLike != '' ">
                and ent_name like concat('%',#{entNameLike,jdbcType=VARCHAR},'%')
            </if>
            <if test="legalPerson != null and legalPerson != '' ">
                and legal_person = #{legalPerson,jdbcType=VARCHAR}
            </if>
            <if test="registerAddress != null and registerAddress != '' ">
                and register_address = #{registerAddress,jdbcType=VARCHAR}
            </if>
            <if test="businessAddress != null and businessAddress != '' ">
                and business_address = #{businessAddress,jdbcType=VARCHAR}
            </if>
            <if test="webAddress != null and webAddress != '' ">
                and web_address = #{webAddress,jdbcType=VARCHAR}
            </if>
            <if test="businessImg != null and businessImg != '' ">
                and business_img = #{businessImg,jdbcType=VARCHAR}
            </if>
            <if test="checkState != null and checkState != '' ">
                and check_state = #{checkState,jdbcType=INTEGER}
            </if>
            <if test="tradeType != null and tradeType != '' ">
                and trade_type = #{tradeType,jdbcType=INTEGER}
            </if>
            <if test="tradeTypeIn != null and tradeTypeIn != '' ">
                and tradeTypeIn in ${tradeTypeIn}
            </if>

            <if test="partnerType != null and partnerType != '' ">
                and partner_type = #{partnerType,jdbcType=INTEGER}
            </if>
            <if test="linkman != null and linkman != '' ">
                and linkman = #{linkman,jdbcType=VARCHAR}
            </if>
            <if test="linkmanPhone != null and linkmanPhone != '' ">
                and linkman_phone = #{linkmanPhone,jdbcType=VARCHAR}
            </if>
            <if test="registerMoney != null and registerMoney != '' ">
                and register_money = #{registerMoney,jdbcType=VARCHAR}
            </if>
            <if test="defaultEntrepot != null and defaultEntrepot != '' ">
                and default_entrepot = #{defaultEntrepot,jdbcType=VARCHAR}
            </if>
            <if test="purchase != null and purchase != '' ">
                and purchase = #{purchase,jdbcType=INTEGER}
            </if>
            <if test="sell != null and sell != '' ">
                and sell = #{sell,jdbcType=INTEGER}
            </if>
            <if test="tender != null and tender != '' ">
                and tender = #{tender,jdbcType=INTEGER}
            </if>
            <if test="bid != null and bid != '' ">
                and bid = #{bid,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="editTime != null">
                and edit_time = #{editTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from  enterprise_member
        where id =   #{id,jdbcType=INTEGER}
    </delete>
    
    <insert id="insert" parameterType="com.csjscm.core.framework.model.EnterpriseMember">
        insert into enterprise_member(ent_number,ent_name,legal_person,register_address,business_address,web_address,business_img,check_state,trade_type,partner_type,linkman,linkman_phone,register_money,default_entrepot,purchase,sell,tender,bid,create_time,edit_time)values(#{entNumber,jdbcType=VARCHAR},#{entName,jdbcType=VARCHAR},#{legalPerson,jdbcType=VARCHAR},#{registerAddress,jdbcType=VARCHAR},#{businessAddress,jdbcType=VARCHAR},#{webAddress,jdbcType=VARCHAR},#{businessImg,jdbcType=VARCHAR},#{checkState,jdbcType=INTEGER},#{tradeType,jdbcType=INTEGER},#{partnerType,jdbcType=INTEGER},#{linkman,jdbcType=VARCHAR},#{linkmanPhone,jdbcType=VARCHAR},#{registerMoney,jdbcType=VARCHAR},#{defaultEntrepot,jdbcType=VARCHAR},#{purchase,jdbcType=INTEGER},#{sell,jdbcType=INTEGER},#{tender,jdbcType=INTEGER},#{bid,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP},#{editTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.csjscm.core.framework.model.EnterpriseMember">
        insert into enterprise_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">
                id,
            </if>
            <if test="entNumber != null ">
                ent_number,
            </if>
            <if test="entName != null ">
                ent_name,
            </if>
            <if test="legalPerson != null ">
                legal_person,
            </if>
            <if test="registerAddress != null ">
                register_address,
            </if>
            <if test="businessAddress != null ">
                business_address,
            </if>
            <if test="webAddress != null ">
                web_address,
            </if>
            <if test="businessImg != null ">
                business_img,
            </if>
            <if test="checkState != null ">
                check_state,
            </if>
            <if test="tradeType != null ">
                trade_type,
            </if>
            <if test="partnerType != null ">
                partner_type,
            </if>
            <if test="linkman != null ">
                linkman,
            </if>
            <if test="linkmanPhone != null ">
                linkman_phone,
            </if>
            <if test="registerMoney != null ">
                register_money,
            </if>
            <if test="defaultEntrepot != null ">
                default_entrepot,
            </if>
            <if test="purchase != null ">
                purchase,
            </if>
            <if test="sell != null ">
                sell,
            </if>
            <if test="tender != null ">
                tender,
            </if>
            <if test="bid != null ">
                bid,
            </if>
            <if test="createTime != null ">
                create_time,
            </if>
            <if test="editTime != null ">
                edit_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                     <if test="id != null ">
                        #{id,jdbcType=INTEGER},
                     </if>
                     <if test="entNumber != null ">
                        #{entNumber,jdbcType=VARCHAR},
                     </if>
                     <if test="entName != null ">
                        #{entName,jdbcType=VARCHAR},
                     </if>
                     <if test="legalPerson != null ">
                        #{legalPerson,jdbcType=VARCHAR},
                     </if>
                     <if test="registerAddress != null ">
                        #{registerAddress,jdbcType=VARCHAR},
                     </if>
                     <if test="businessAddress != null ">
                        #{businessAddress,jdbcType=VARCHAR},
                     </if>
                     <if test="webAddress != null ">
                        #{webAddress,jdbcType=VARCHAR},
                     </if>
                     <if test="businessImg != null ">
                        #{businessImg,jdbcType=VARCHAR},
                     </if>
                     <if test="checkState != null ">
                        #{checkState,jdbcType=INTEGER},
                     </if>
                     <if test="tradeType != null ">
                        #{tradeType,jdbcType=INTEGER},
                     </if>
                     <if test="partnerType != null ">
                        #{partnerType,jdbcType=INTEGER},
                     </if>
                     <if test="linkman != null ">
                        #{linkman,jdbcType=VARCHAR},
                     </if>
                     <if test="linkmanPhone != null ">
                        #{linkmanPhone,jdbcType=VARCHAR},
                     </if>
                     <if test="registerMoney != null ">
                        #{registerMoney,jdbcType=VARCHAR},
                     </if>
                     <if test="defaultEntrepot != null ">
                        #{defaultEntrepot,jdbcType=VARCHAR},
                     </if>
                     <if test="purchase != null ">
                        #{purchase,jdbcType=INTEGER},
                     </if>
                     <if test="sell != null ">
                        #{sell,jdbcType=INTEGER},
                     </if>
                     <if test="tender != null ">
                        #{tender,jdbcType=INTEGER},
                     </if>
                     <if test="bid != null ">
                        #{bid,jdbcType=INTEGER},
                     </if>
                     <if test="createTime != null ">
                        #{createTime,jdbcType=TIMESTAMP},
                     </if>
                     <if test="editTime != null ">
                        #{editTime,jdbcType=TIMESTAMP},
                     </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.csjscm.core.framework.model.EnterpriseMember">
        update enterprise_member set 
            ent_number = #{entNumber,jdbcType=VARCHAR},
            ent_name = #{entName,jdbcType=VARCHAR},
            legal_person = #{legalPerson,jdbcType=VARCHAR},
            register_address = #{registerAddress,jdbcType=VARCHAR},
            business_address = #{businessAddress,jdbcType=VARCHAR},
            web_address = #{webAddress,jdbcType=VARCHAR},
            business_img = #{businessImg,jdbcType=VARCHAR},
            check_state = #{checkState,jdbcType=INTEGER},
            trade_type = #{tradeType,jdbcType=INTEGER},
            partner_type = #{partnerType,jdbcType=INTEGER},
            linkman = #{linkman,jdbcType=VARCHAR},
            linkman_phone = #{linkmanPhone,jdbcType=VARCHAR},
            register_money = #{registerMoney,jdbcType=VARCHAR},
            default_entrepot = #{defaultEntrepot,jdbcType=VARCHAR},
            purchase = #{purchase,jdbcType=INTEGER},
            sell = #{sell,jdbcType=INTEGER},
            tender = #{tender,jdbcType=INTEGER},
            bid = #{bid,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            edit_time = #{editTime,jdbcType=TIMESTAMP}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="com.csjscm.core.framework.model.EnterpriseMember">
        update enterprise_member
          <set>
            <if test="entNumber != null and entNumber != '' ">        
                ent_number = #{entNumber,jdbcType=VARCHAR},                
            </if>
            <if test="entName != null and entName != '' ">        
                ent_name = #{entName,jdbcType=VARCHAR},                
            </if>
            <if test="legalPerson != null and legalPerson != '' ">        
                legal_person = #{legalPerson,jdbcType=VARCHAR},                
            </if>
            <if test="registerAddress != null and registerAddress != '' ">        
                register_address = #{registerAddress,jdbcType=VARCHAR},                
            </if>
            <if test="businessAddress != null and businessAddress != '' ">        
                business_address = #{businessAddress,jdbcType=VARCHAR},                
            </if>
            <if test="webAddress != null and webAddress != '' ">        
                web_address = #{webAddress,jdbcType=VARCHAR},                
            </if>
            <if test="businessImg != null and businessImg != '' ">        
                business_img = #{businessImg,jdbcType=VARCHAR},                
            </if>
            <if test="checkState != null and checkState != '' ">        
                check_state = #{checkState,jdbcType=INTEGER},                
            </if>
            <if test="tradeType != null and tradeType != '' ">        
                trade_type = #{tradeType,jdbcType=INTEGER},                
            </if>
            <if test="partnerType != null and partnerType != '' ">        
                partner_type = #{partnerType,jdbcType=INTEGER},                
            </if>
            <if test="linkman != null and linkman != '' ">        
                linkman = #{linkman,jdbcType=VARCHAR},                
            </if>
            <if test="linkmanPhone != null and linkmanPhone != '' ">        
                linkman_phone = #{linkmanPhone,jdbcType=VARCHAR},                
            </if>
            <if test="registerMoney != null and registerMoney != '' ">        
                register_money = #{registerMoney,jdbcType=VARCHAR},
            </if>
            <if test="defaultEntrepot != null and defaultEntrepot != '' ">        
                default_entrepot = #{defaultEntrepot,jdbcType=VARCHAR},                
            </if>
            <if test="purchase != null and purchase != '' ">        
                purchase = #{purchase,jdbcType=INTEGER},                
            </if>
            <if test="sell != null and sell != '' ">        
                sell = #{sell,jdbcType=INTEGER},                
            </if>
            <if test="tender != null and tender != '' ">        
                tender = #{tender,jdbcType=INTEGER},                
            </if>
            <if test="bid != null and bid != '' ">        
                bid = #{bid,jdbcType=INTEGER},                
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},                
            </if>
            <if test="editTime != null">
                edit_time = #{editTime,jdbcType=TIMESTAMP}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from enterprise_member
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from enterprise_member
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from enterprise_member
        <include refid="searchBy"/>
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        select count(id)
        from enterprise_member
        <include refid="searchBy"/>
    </select>

</mapper>
