<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- enterprise_ticket_info表:开票信息表模块 -->
<mapper namespace="com.csjscm.core.framework.dao.EnterpriseTicketInfoMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.csjscm.core.framework.model.EnterpriseTicketInfo">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="taxpayer_id" property="taxpayerId" jdbcType="VARCHAR" />
        <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
        <result column="bank_card_no" property="bankCardNo" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
        <result column="ent_number" property="entNumber" jdbcType="VARCHAR" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,taxpayer_id,bank_name,bank_card_no,create_time,edit_time,ent_number 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=INTEGER}
            </if>
            <if test="taxpayerId != null and taxpayerId != '' ">
                and taxpayer_id = #{taxpayerId,jdbcType=VARCHAR}
            </if>
            <if test="bankName != null and bankName != '' ">
                and bank_name = #{bankName,jdbcType=VARCHAR}
            </if>
            <if test="bankCardNo != null and bankCardNo != '' ">
                and bank_card_no = #{bankCardNo,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="editTime != null">
                and edit_time = #{editTime,jdbcType=TIMESTAMP}
            </if>
            <if test="entNumber != null and entNumber != '' ">
                and ent_number = #{entNumber,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from  enterprise_ticket_info
        where id =   #{id,jdbcType=INTEGER}
    </delete>
    
    <insert id="insert" parameterType="com.csjscm.core.framework.model.EnterpriseTicketInfo">
        insert into enterprise_ticket_info(taxpayer_id,bank_name,bank_card_no,create_time,edit_time,ent_number)values(#{taxpayerId,jdbcType=VARCHAR},#{bankName,jdbcType=VARCHAR},#{bankCardNo,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{editTime,jdbcType=TIMESTAMP},#{entNumber,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.csjscm.core.framework.model.EnterpriseTicketInfo">
        insert into enterprise_ticket_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">
                id,
            </if>
            <if test="taxpayerId != null ">
                taxpayer_id,
            </if>
            <if test="bankName != null ">
                bank_name,
            </if>
            <if test="bankCardNo != null ">
                bank_card_no,
            </if>
            <if test="createTime != null ">
                create_time,
            </if>
            <if test="editTime != null ">
                edit_time,
            </if>
            <if test="entNumber != null ">
                ent_number,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                     <if test="id != null ">
                        #{id,jdbcType=INTEGER},
                     </if>
                     <if test="taxpayerId != null ">
                        #{taxpayerId,jdbcType=VARCHAR},
                     </if>
                     <if test="bankName != null ">
                        #{bankName,jdbcType=VARCHAR},
                     </if>
                     <if test="bankCardNo != null ">
                        #{bankCardNo,jdbcType=VARCHAR},
                     </if>
                     <if test="createTime != null ">
                        #{createTime,jdbcType=TIMESTAMP},
                     </if>
                     <if test="editTime != null ">
                        #{editTime,jdbcType=TIMESTAMP},
                     </if>
                     <if test="entNumber != null ">
                        #{entNumber,jdbcType=VARCHAR},
                     </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.csjscm.core.framework.model.EnterpriseTicketInfo">
        update enterprise_ticket_info set 
            taxpayer_id = #{taxpayerId,jdbcType=VARCHAR},
            bank_name = #{bankName,jdbcType=VARCHAR},
            bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            edit_time = #{editTime,jdbcType=TIMESTAMP},
            ent_number = #{entNumber,jdbcType=VARCHAR}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="com.csjscm.core.framework.model.EnterpriseTicketInfo">
        update enterprise_ticket_info
          <set>
            <if test="taxpayerId != null and taxpayerId != '' ">        
                taxpayer_id = #{taxpayerId,jdbcType=VARCHAR},                
            </if>
            <if test="bankName != null and bankName != '' ">        
                bank_name = #{bankName,jdbcType=VARCHAR},                
            </if>
            <if test="bankCardNo != null and bankCardNo != '' ">        
                bank_card_no = #{bankCardNo,jdbcType=VARCHAR},                
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},                
            </if>
            <if test="editTime != null">
                edit_time = #{editTime,jdbcType=TIMESTAMP},                
            </if>
            <if test="entNumber != null and entNumber != '' ">        
                ent_number = #{entNumber,jdbcType=VARCHAR}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from enterprise_ticket_info
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from enterprise_ticket_info
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from enterprise_ticket_info
        <include refid="searchBy"/>
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        select count(id)
        from enterprise_ticket_info
        <include refid="searchBy"/>
    </select>

</mapper>
