<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csjscm.core.framework.dao.EnterpriseStandardTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.csjscm.core.framework.model.EnterpriseStandardTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="template_type" property="templateType" jdbcType="INTEGER" />
    <result column="template_url" property="templateUrl" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_user" property="editUser" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, template_type, template_url, enable, create_user, create_time, edit_user, edit_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from enterprise_standard_template
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAllList" resultMap="BaseResultMap">
      select
        <include refid="Base_Column_List"/>
      from enterprise_standard_template
      order by edit_time desc
    </select>
  <select id="selectCurrentTemplate" resultMap="BaseResultMap" parameterType="integer">
    select
      <include refid="Base_Column_List"/>
    from enterprise_standard_template
    where template_type=#{templateType,jdbcType=INTEGER} and enable=1
    order by edit_time desc
    limit 0,1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from enterprise_standard_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.csjscm.core.framework.model.EnterpriseStandardTemplate" >
    insert into enterprise_standard_template (id, template_type, template_url, 
      enable, create_user, create_time, 
      edit_user, edit_time)
    values (#{id,jdbcType=INTEGER}, #{templateType,jdbcType=INTEGER}, #{templateUrl,jdbcType=VARCHAR}, 
      #{enable,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{editUser,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.csjscm.core.framework.model.EnterpriseStandardTemplate" >
    insert into enterprise_standard_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="templateType != null" >
        template_type,
      </if>
      <if test="templateUrl != null" >
        template_url,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="editUser != null" >
        edit_user,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="templateType != null" >
        #{templateType,jdbcType=INTEGER},
      </if>
      <if test="templateUrl != null" >
        #{templateUrl,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUser != null" >
        #{editUser,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csjscm.core.framework.model.EnterpriseStandardTemplate" >
    update enterprise_standard_template
    <set >
      <if test="templateType != null" >
        template_type = #{templateType,jdbcType=INTEGER},
      </if>
      <if test="templateUrl != null" >
        template_url = #{templateUrl,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUser != null" >
        edit_user = #{editUser,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csjscm.core.framework.model.EnterpriseStandardTemplate" >
    update enterprise_standard_template
    set template_type = #{templateType,jdbcType=INTEGER},
      template_url = #{templateUrl,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_user = #{editUser,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>