<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csjscm.core.framework.dao.EnterpriseTemplateFlowMapper" >
  <resultMap id="BaseResultMap" type="com.csjscm.core.framework.model.EnterpriseTemplateFlow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="flow_type" property="flowType" jdbcType="INTEGER" />
    <result column="flow_node" property="flowNode" jdbcType="INTEGER" />
    <result column="opinion" property="opinion" jdbcType="VARCHAR" />
    <result column="ent_number" property="entNumber" jdbcType="VARCHAR" />
    <result column="p_template_id" property="pTemplateId" jdbcType="INTEGER" />
    <result column="attachment_url" property="attachmentUrl" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="custom" property="custom" jdbcType="INTEGER" />
    <result column="instance_id" property="instanceId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, flow_type, flow_node, opinion, ent_number, p_template_id, attachment_url, user_name, 
    create_time, edit_time, custom, instance_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from enterprise_template_flow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from enterprise_template_flow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.csjscm.core.framework.model.EnterpriseTemplateFlow" >
    insert into enterprise_template_flow (id, flow_type, flow_node, 
      opinion, ent_number, p_template_id, 
      attachment_url, user_name, create_time, 
      edit_time, custom, instance_id
      )
    values (#{id,jdbcType=INTEGER}, #{flowType,jdbcType=INTEGER}, #{flowNode,jdbcType=INTEGER}, 
      #{opinion,jdbcType=VARCHAR}, #{entNumber,jdbcType=VARCHAR}, #{pTemplateId,jdbcType=INTEGER}, 
      #{attachmentUrl,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{editTime,jdbcType=TIMESTAMP}, #{custom,jdbcType=INTEGER}, #{instanceId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.csjscm.core.framework.model.EnterpriseTemplateFlow" >
    insert into enterprise_template_flow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="flowType != null" >
        flow_type,
      </if>
      <if test="flowNode != null" >
        flow_node,
      </if>
      <if test="opinion != null" >
        opinion,
      </if>
      <if test="entNumber != null" >
        ent_number,
      </if>
      <if test="pTemplateId != null" >
        p_template_id,
      </if>
      <if test="attachmentUrl != null" >
        attachment_url,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="custom != null" >
        custom,
      </if>
      <if test="instanceId != null" >
        instance_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="flowType != null" >
        #{flowType,jdbcType=INTEGER},
      </if>
      <if test="flowNode != null" >
        #{flowNode,jdbcType=INTEGER},
      </if>
      <if test="opinion != null" >
        #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="entNumber != null" >
        #{entNumber,jdbcType=VARCHAR},
      </if>
      <if test="pTemplateId != null" >
        #{pTemplateId,jdbcType=INTEGER},
      </if>
      <if test="attachmentUrl != null" >
        #{attachmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="custom != null" >
        #{custom,jdbcType=INTEGER},
      </if>
      <if test="instanceId != null" >
        #{instanceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csjscm.core.framework.model.EnterpriseTemplateFlow" >
    update enterprise_template_flow
    <set >
      <if test="flowType != null" >
        flow_type = #{flowType,jdbcType=INTEGER},
      </if>
      <if test="flowNode != null" >
        flow_node = #{flowNode,jdbcType=INTEGER},
      </if>
      <if test="opinion != null" >
        opinion = #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="entNumber != null" >
        ent_number = #{entNumber,jdbcType=VARCHAR},
      </if>
      <if test="pTemplateId != null" >
        p_template_id = #{pTemplateId,jdbcType=INTEGER},
      </if>
      <if test="attachmentUrl != null" >
        attachment_url = #{attachmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="custom != null" >
        custom = #{custom,jdbcType=INTEGER},
      </if>
      <if test="instanceId != null" >
        instance_id = #{instanceId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csjscm.core.framework.model.EnterpriseTemplateFlow" >
    update enterprise_template_flow
    set flow_type = #{flowType,jdbcType=INTEGER},
      flow_node = #{flowNode,jdbcType=INTEGER},
      opinion = #{opinion,jdbcType=VARCHAR},
      ent_number = #{entNumber,jdbcType=VARCHAR},
      p_template_id = #{pTemplateId,jdbcType=INTEGER},
      attachment_url = #{attachmentUrl,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      custom = #{custom,jdbcType=INTEGER},
      instance_id = #{instanceId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>