<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csjscm.core.framework.dao.SkuCoreMapper" >
  <resultMap id="BaseResultMap" type="com.csjscm.core.framework.model.SkuCore" >
    <id column="product_no" property="productNo" jdbcType="VARCHAR" />
    <result column="std_product_no" property="stdProductNo" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_price" property="productPrice" jdbcType="DECIMAL" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="category_no" property="categoryNo" jdbcType="VARCHAR" />
    <result column="isvalidate" property="isvalidate" jdbcType="INTEGER" />
    <result column="approval_status" property="approvalStatus" jdbcType="INTEGER" />
    <result column="channel" property="channel" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="unit_id" property="unitId" jdbcType="INTEGER" />
    <result column="min_uint" property="minUint" jdbcType="VARCHAR" />
    <result column="product_pic" property="productPic" jdbcType="VARCHAR" />
    <result column="ean13_code" property="ean13Code" jdbcType="VARCHAR" />
    <result column="mnemonic_code" property="mnemonicCode" jdbcType="VARCHAR" />
    <result column="invoice_type" property="invoiceType" jdbcType="VARCHAR" />
    <result column="txt_code" property="txtCode" jdbcType="VARCHAR" />
    <result column="rule" property="rule" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_user_id" property="editUserId" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="udf1" property="udf1" jdbcType="VARCHAR" />
    <result column="udf2" property="udf2" jdbcType="VARCHAR" />
    <result column="udf3" property="udf3" jdbcType="VARCHAR" />
    <result column="udf4" property="udf4" jdbcType="VARCHAR" />
    <result column="udf5" property="udf5" jdbcType="VARCHAR" />
    <result column="udf6" property="udf6" jdbcType="VARCHAR" />
    <result column="udf7" property="udf7" jdbcType="VARCHAR" />
    <result column="udf8" property="udf8" jdbcType="VARCHAR" />
    <result column="udf9" property="udf9" jdbcType="VARCHAR" />
    <result column="udf10" property="udf10" jdbcType="VARCHAR" />
    <result column="suf1" property="suf1" jdbcType="VARCHAR" />
    <result column="suf2" property="suf2" jdbcType="VARCHAR" />
    <result column="suf3" property="suf3" jdbcType="VARCHAR" />
    <result column="suf4" property="suf4" jdbcType="VARCHAR" />
    <result column="suf5" property="suf5" jdbcType="VARCHAR" />
    <result column="suf6" property="suf6" jdbcType="VARCHAR" />
    <result column="suf7" property="suf7" jdbcType="VARCHAR" />
    <result column="suf8" property="suf8" jdbcType="VARCHAR" />
    <result column="suf9" property="suf9" jdbcType="VARCHAR" />
    <result column="suf10" property="suf10" jdbcType="VARCHAR" />
    <result column="request_id" property="requestId" jdbcType="VARCHAR" />
    <result column="category_id_old" property="categoryIdOld" jdbcType="VARCHAR" />
    <result column="create_user_id_old" property="createUserIdOld" jdbcType="VARCHAR" />
    <result column="edit_user_id_old" property="editUserIdOld" jdbcType="VARCHAR" />
    <result column="approval_status_old" property="approvalStatusOld" jdbcType="VARCHAR" />
    <result column="brand_id_old" property="brandIdOld" jdbcType="VARCHAR" />
    <result column="min_uint_old" property="minUintOld" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ExResultMap" type="com.csjscm.core.framework.model.SkuCoreEx" extends="BaseResultMap">
    <result column="identifying_code" property="identifyingCode" jdbcType="VARCHAR" />
    <result column="customer_no" property="customerNo" jdbcType="VARCHAR" />
    <result column="supply_no" property="supplyNo" jdbcType="VARCHAR" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_no, std_product_no, product_name, product_price, category_id, category_no, 
    isvalidate, approval_status, channel, brand_name, brand_id, unit_id, min_uint, product_pic, 
    ean13_code, mnemonic_code, invoice_type, txt_code, rule, size, create_user_id, create_time, 
    edit_user_id, edit_time, udf1, udf2, udf3, udf4, udf5, udf6, udf7, udf8, udf9, udf10, 
    suf1, suf2, suf3, suf4, suf5, suf6, suf7, suf8, suf9, suf10, request_id, category_id_old, 
    create_user_id_old, edit_user_id_old, approval_status_old, brand_id_old, min_uint_old
  </sql>
  <!-- 基本的sql查询条件公共引用 -->
  <sql id="searchBy">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="productNo != null and productNo != '' ">
        and product_no = #{productNo,jdbcType=VARCHAR}
      </if>
      <if test="stdProductNo != null and stdProductNo != '' ">
        and std_product_no = #{stdProductNo,jdbcType=VARCHAR}
      </if>
      <if test="productName != null and productName != '' ">
        and product_name = #{productName,jdbcType=VARCHAR}
      </if>
      <if test="productPrice != null and productPrice != '' ">
        and product_price = #{productPrice,jdbcType=DECIMAL}
      </if>
      <if test="categoryId != null and categoryId != '' ">
        and category_id = #{categoryId,jdbcType=INTEGER}
      </if>
      <if test="categoryNo != null and categoryNo != '' ">
        and category_no = #{categoryNo,jdbcType=VARCHAR}
      </if>
      <if test="isvalidate != null and isvalidate != '' ">
        and isvalidate = #{isvalidate,jdbcType=INTEGER}
      </if>
      <if test="approvalStatus != null and approvalStatus != '' ">
        and approval_status = #{approvalStatus,jdbcType=INTEGER}
      </if>
      <if test="channel != null and channel != '' ">
        and channel = #{channel,jdbcType=INTEGER}
      </if>
      <if test="brandName != null and brandName != '' ">
        and brand_name = #{brandName,jdbcType=VARCHAR}
      </if>
      <if test="brandId != null and brandId != '' ">
        and brand_id = #{brandId,jdbcType=INTEGER}
      </if>
      <if test="unitId != null and unitId != '' ">
        and unit_id = #{unitId,jdbcType=INTEGER}
      </if>
      <if test="minUint != null and minUint != '' ">
        and min_uint = #{minUint,jdbcType=VARCHAR}
      </if>
      <if test="productPic != null and productPic != '' ">
        and product_pic = #{productPic,jdbcType=VARCHAR}
      </if>
      <if test="ean13Code != null and ean13Code != '' ">
        and ean13_code = #{ean13Code,jdbcType=VARCHAR}
      </if>
      <if test="mnemonicCode != null and mnemonicCode != '' ">
        and mnemonic_code = #{mnemonicCode,jdbcType=VARCHAR}
      </if>
      <if test="invoiceType != null and invoiceType != '' ">
        and invoice_type = #{invoiceType,jdbcType=VARCHAR}
      </if>
      <if test="txtCode != null and txtCode != '' ">
        and txt_code = #{txtCode,jdbcType=VARCHAR}
      </if>
      <if test="rule != null and rule != '' ">
        and rule = #{rule,jdbcType=VARCHAR}
      </if>
      <if test="sizes != null and sizes != '' ">
        and `size` = #{sizes}
      </if>
      <if test="createUserId != null and createUserId != '' ">
        and create_user_id = #{createUserId,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null  ">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="editUserId != null and editUserId != '' ">
        and edit_user_id = #{editUserId,jdbcType=VARCHAR}
      </if>
      <if test="editTime != null  ">
        and edit_time = #{editTime,jdbcType=TIMESTAMP}
      </if>
      <if test="udf1 != null and udf1 != '' ">
        and udf1 = #{udf1,jdbcType=VARCHAR}
      </if>
      <if test="udf2 != null and udf2 != '' ">
        and udf2 = #{udf2,jdbcType=VARCHAR}
      </if>
      <if test="udf3 != null and udf3 != '' ">
        and udf3 = #{udf3,jdbcType=VARCHAR}
      </if>
      <if test="udf4 != null and udf4 != '' ">
        and udf4 = #{udf4,jdbcType=VARCHAR}
      </if>
      <if test="udf5 != null and udf5 != '' ">
        and udf5 = #{udf5,jdbcType=VARCHAR}
      </if>
      <if test="udf6 != null and udf6 != '' ">
        and udf6 = #{udf6,jdbcType=VARCHAR}
      </if>
      <if test="udf7 != null and udf7 != '' ">
        and udf7 = #{udf7,jdbcType=VARCHAR}
      </if>
      <if test="udf8 != null and udf8 != '' ">
        and udf8 = #{udf8,jdbcType=VARCHAR}
      </if>
      <if test="udf9 != null and udf9 != '' ">
        and udf9 = #{udf9,jdbcType=VARCHAR}
      </if>
      <if test="udf10 != null and udf10 != '' ">
        and udf10 = #{udf10,jdbcType=VARCHAR}
      </if>
      <if test="suf1 != null and suf1 != '' ">
        and suf1 = #{suf1,jdbcType=VARCHAR}
      </if>
      <if test="suf2 != null and suf2 != '' ">
        and suf2 = #{suf2,jdbcType=VARCHAR}
      </if>
      <if test="suf3 != null and suf3 != '' ">
        and suf3 = #{suf3,jdbcType=VARCHAR}
      </if>
      <if test="suf4 != null and suf4 != '' ">
        and suf4 = #{suf4,jdbcType=VARCHAR}
      </if>
      <if test="suf5 != null and suf5 != '' ">
        and suf5 = #{suf5,jdbcType=VARCHAR}
      </if>
      <if test="suf6 != null and suf6 != '' ">
        and suf6 = #{suf6,jdbcType=VARCHAR}
      </if>
      <if test="suf7 != null and suf7 != '' ">
        and suf7 = #{suf7,jdbcType=VARCHAR}
      </if>
      <if test="suf8 != null and suf8 != '' ">
        and suf8 = #{suf8,jdbcType=VARCHAR}
      </if>
      <if test="suf9 != null and suf9 != '' ">
        and suf9 = #{suf9,jdbcType=VARCHAR}
      </if>
      <if test="suf10 != null and suf10 != '' ">
        and suf10 = #{suf10,jdbcType=VARCHAR}
      </if>
      <if test="requestId != null and requestId != '' ">
        and request_id = #{requestId,jdbcType=VARCHAR}
      </if>
      <if test="categoryIdOld != null and categoryIdOld != '' ">
        and category_id_old = #{categoryIdOld,jdbcType=VARCHAR}
      </if>
      <if test="createUserIdOld != null and createUserIdOld != '' ">
        and create_user_id_old = #{createUserIdOld,jdbcType=VARCHAR}
      </if>
      <if test="editUserIdOld != null and editUserIdOld != '' ">
        and edit_user_id_old = #{editUserIdOld,jdbcType=VARCHAR}
      </if>
      <if test="approvalStatusOld != null and approvalStatusOld != '' ">
        and approval_status_old = #{approvalStatusOld,jdbcType=VARCHAR}
      </if>
      <if test="brandIdOld != null and brandIdOld != '' ">
        and brand_id_old = #{brandIdOld,jdbcType=VARCHAR}
      </if>
      <if test="minUintOld != null and minUintOld != '' ">
        and min_uint_old = #{minUintOld,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Sc_Column_List">
    sc.product_no, sc.std_product_no, sc.product_name, sc.product_price, sc.category_id, sc.category_no,
    sc.isvalidate, sc.approval_status, sc.channel, sc.brand_name, sc.brand_id, sc.unit_id, sc.min_uint, sc.product_pic,
    sc.ean13_code, sc.mnemonic_code, sc.invoice_type, sc.txt_code, sc.rule, sc.size, sc.create_user_id, sc.create_time,
    sc.edit_user_id, sc.edit_time, sc.udf1, sc.udf2, sc.udf3, sc.udf4, sc.udf5, sc.udf6, sc.udf7, sc.udf8, sc.udf9, sc.udf10,
    sc.suf1, sc.suf2, sc.suf3, sc.suf4, sc.suf5, sc.suf6, sc.suf7, sc.suf8, sc.suf9, sc.suf10, sc.request_id, sc.category_id_old,
    sc.create_user_id_old, sc.edit_user_id_old, sc.approval_status_old, sc.brand_id_old, sc.min_uint_old
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      1=1
      <if test="productNo != null and productNo != ''">
        and sc.product_no = #{productNo,jdbcType=VARCHAR}
      </if>
      <if test="brandId != null">
        and sc.brand_id=#{brandId,jdbcType=INTEGER}
      </if>
      <if test="productName != null and productName != ''">
        and sc.product_name LIKE CONCAT('%',#{productName,jdbcType=VARCHAR},'%')
      </if>
      <if test="brandName != null and brandName != ''">
        and sc.brand_name = #{brandName,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sku_core
    where product_no = #{productNo,jdbcType=VARCHAR}
  </select>
  <select id="selectByExample" parameterType="map" resultMap="BaseResultMap">
    select
      <include refid="Sc_Column_List"/>
    from sku_core sc
    <include refid="Example_Where_Clause"/>
  </select><select id="selectBySkuCoreList" parameterType="map" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from sku_core
    <include refid="searchBy"/>
  </select>
  <select id="selectExByExample" parameterType="map" resultMap="ExResultMap">
    select
      <include refid="Sc_Column_List"/>
    ,upc.identifying_code
    ,customer.customer_no
    ,partner.supply_no
    ,ca.class_name
    from
      sku_core sc
      left join sku_upc upc on sc.product_no=upc.product_no
      left join category ca on sc.category_no=ca.class_code
      left join (select product_no,count(1) customer_no from sku_customer group by product_no) customer on sc.product_no=customer.product_no
      left join (select product_no,count(1) supply_no from sku_partner group by product_no) partner on sc.product_no=partner.product_no
    <include refid="Example_Where_Clause"/>
    order by sc.create_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sku_core
    where product_no = #{productNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.csjscm.core.framework.model.SkuCore" >
    insert into sku_core (product_no, std_product_no, product_name, 
      product_price, category_id, category_no, 
      isvalidate, approval_status, channel, 
      brand_name, brand_id, unit_id, 
      min_uint, product_pic, ean13_code, 
      mnemonic_code, invoice_type, txt_code, 
      rule, size, create_user_id, 
      create_time, edit_user_id, edit_time, 
      udf1, udf2, udf3, udf4, 
      udf5, udf6, udf7, udf8, 
      udf9, udf10, suf1, 
      suf2, suf3, suf4, suf5, 
      suf6, suf7, suf8, suf9, 
      suf10, request_id, category_id_old, 
      create_user_id_old, edit_user_id_old, approval_status_old, 
      brand_id_old, min_uint_old)
    values (#{productNo,jdbcType=VARCHAR}, #{stdProductNo,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{productPrice,jdbcType=DECIMAL}, #{categoryId,jdbcType=INTEGER}, #{categoryNo,jdbcType=VARCHAR}, 
      #{isvalidate,jdbcType=INTEGER}, #{approvalStatus,jdbcType=INTEGER}, #{channel,jdbcType=INTEGER}, 
      #{brandName,jdbcType=VARCHAR}, #{brandId,jdbcType=INTEGER}, #{unitId,jdbcType=INTEGER}, 
      #{minUint,jdbcType=VARCHAR}, #{productPic,jdbcType=VARCHAR}, #{ean13Code,jdbcType=VARCHAR}, 
      #{mnemonicCode,jdbcType=VARCHAR}, #{invoiceType,jdbcType=VARCHAR}, #{txtCode,jdbcType=VARCHAR}, 
      #{rule,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{editUserId,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, 
      #{udf1,jdbcType=VARCHAR}, #{udf2,jdbcType=VARCHAR}, #{udf3,jdbcType=VARCHAR}, #{udf4,jdbcType=VARCHAR}, 
      #{udf5,jdbcType=VARCHAR}, #{udf6,jdbcType=VARCHAR}, #{udf7,jdbcType=VARCHAR}, #{udf8,jdbcType=VARCHAR}, 
      #{udf9,jdbcType=VARCHAR}, #{udf10,jdbcType=VARCHAR}, #{suf1,jdbcType=VARCHAR}, 
      #{suf2,jdbcType=VARCHAR}, #{suf3,jdbcType=VARCHAR}, #{suf4,jdbcType=VARCHAR}, #{suf5,jdbcType=VARCHAR}, 
      #{suf6,jdbcType=VARCHAR}, #{suf7,jdbcType=VARCHAR}, #{suf8,jdbcType=VARCHAR}, #{suf9,jdbcType=VARCHAR}, 
      #{suf10,jdbcType=VARCHAR}, #{requestId,jdbcType=VARCHAR}, #{categoryIdOld,jdbcType=VARCHAR}, 
      #{createUserIdOld,jdbcType=VARCHAR}, #{editUserIdOld,jdbcType=VARCHAR}, #{approvalStatusOld,jdbcType=VARCHAR}, 
      #{brandIdOld,jdbcType=VARCHAR}, #{minUintOld,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.csjscm.core.framework.model.SkuCore" >
    insert into sku_core
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productNo != null" >
        product_no,
      </if>
      <if test="stdProductNo != null" >
        std_product_no,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productPrice != null" >
        product_price,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="categoryNo != null" >
        category_no,
      </if>
      <if test="isvalidate != null" >
        isvalidate,
      </if>
      <if test="approvalStatus != null" >
        approval_status,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="minUint != null" >
        min_uint,
      </if>
      <if test="productPic != null" >
        product_pic,
      </if>
      <if test="ean13Code != null" >
        ean13_code,
      </if>
      <if test="mnemonicCode != null" >
        mnemonic_code,
      </if>
      <if test="invoiceType != null" >
        invoice_type,
      </if>
      <if test="txtCode != null" >
        txt_code,
      </if>
      <if test="rule != null" >
        rule,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="editUserId != null" >
        edit_user_id,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="udf1 != null" >
        udf1,
      </if>
      <if test="udf2 != null" >
        udf2,
      </if>
      <if test="udf3 != null" >
        udf3,
      </if>
      <if test="udf4 != null" >
        udf4,
      </if>
      <if test="udf5 != null" >
        udf5,
      </if>
      <if test="udf6 != null" >
        udf6,
      </if>
      <if test="udf7 != null" >
        udf7,
      </if>
      <if test="udf8 != null" >
        udf8,
      </if>
      <if test="udf9 != null" >
        udf9,
      </if>
      <if test="udf10 != null" >
        udf10,
      </if>
      <if test="suf1 != null" >
        suf1,
      </if>
      <if test="suf2 != null" >
        suf2,
      </if>
      <if test="suf3 != null" >
        suf3,
      </if>
      <if test="suf4 != null" >
        suf4,
      </if>
      <if test="suf5 != null" >
        suf5,
      </if>
      <if test="suf6 != null" >
        suf6,
      </if>
      <if test="suf7 != null" >
        suf7,
      </if>
      <if test="suf8 != null" >
        suf8,
      </if>
      <if test="suf9 != null" >
        suf9,
      </if>
      <if test="suf10 != null" >
        suf10,
      </if>
      <if test="requestId != null" >
        request_id,
      </if>
      <if test="categoryIdOld != null" >
        category_id_old,
      </if>
      <if test="createUserIdOld != null" >
        create_user_id_old,
      </if>
      <if test="editUserIdOld != null" >
        edit_user_id_old,
      </if>
      <if test="approvalStatusOld != null" >
        approval_status_old,
      </if>
      <if test="brandIdOld != null" >
        brand_id_old,
      </if>
      <if test="minUintOld != null" >
        min_uint_old,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productNo != null" >
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="stdProductNo != null" >
        #{stdProductNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryNo != null" >
        #{categoryNo,jdbcType=VARCHAR},
      </if>
      <if test="isvalidate != null" >
        #{isvalidate,jdbcType=INTEGER},
      </if>
      <if test="approvalStatus != null" >
        #{approvalStatus,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="minUint != null" >
        #{minUint,jdbcType=VARCHAR},
      </if>
      <if test="productPic != null" >
        #{productPic,jdbcType=VARCHAR},
      </if>
      <if test="ean13Code != null" >
        #{ean13Code,jdbcType=VARCHAR},
      </if>
      <if test="mnemonicCode != null" >
        #{mnemonicCode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceType != null" >
        #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="txtCode != null" >
        #{txtCode,jdbcType=VARCHAR},
      </if>
      <if test="rule != null" >
        #{rule,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUserId != null" >
        #{editUserId,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="udf1 != null" >
        #{udf1,jdbcType=VARCHAR},
      </if>
      <if test="udf2 != null" >
        #{udf2,jdbcType=VARCHAR},
      </if>
      <if test="udf3 != null" >
        #{udf3,jdbcType=VARCHAR},
      </if>
      <if test="udf4 != null" >
        #{udf4,jdbcType=VARCHAR},
      </if>
      <if test="udf5 != null" >
        #{udf5,jdbcType=VARCHAR},
      </if>
      <if test="udf6 != null" >
        #{udf6,jdbcType=VARCHAR},
      </if>
      <if test="udf7 != null" >
        #{udf7,jdbcType=VARCHAR},
      </if>
      <if test="udf8 != null" >
        #{udf8,jdbcType=VARCHAR},
      </if>
      <if test="udf9 != null" >
        #{udf9,jdbcType=VARCHAR},
      </if>
      <if test="udf10 != null" >
        #{udf10,jdbcType=VARCHAR},
      </if>
      <if test="suf1 != null" >
        #{suf1,jdbcType=VARCHAR},
      </if>
      <if test="suf2 != null" >
        #{suf2,jdbcType=VARCHAR},
      </if>
      <if test="suf3 != null" >
        #{suf3,jdbcType=VARCHAR},
      </if>
      <if test="suf4 != null" >
        #{suf4,jdbcType=VARCHAR},
      </if>
      <if test="suf5 != null" >
        #{suf5,jdbcType=VARCHAR},
      </if>
      <if test="suf6 != null" >
        #{suf6,jdbcType=VARCHAR},
      </if>
      <if test="suf7 != null" >
        #{suf7,jdbcType=VARCHAR},
      </if>
      <if test="suf8 != null" >
        #{suf8,jdbcType=VARCHAR},
      </if>
      <if test="suf9 != null" >
        #{suf9,jdbcType=VARCHAR},
      </if>
      <if test="suf10 != null" >
        #{suf10,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null" >
        #{requestId,jdbcType=VARCHAR},
      </if>
      <if test="categoryIdOld != null" >
        #{categoryIdOld,jdbcType=VARCHAR},
      </if>
      <if test="createUserIdOld != null" >
        #{createUserIdOld,jdbcType=VARCHAR},
      </if>
      <if test="editUserIdOld != null" >
        #{editUserIdOld,jdbcType=VARCHAR},
      </if>
      <if test="approvalStatusOld != null" >
        #{approvalStatusOld,jdbcType=VARCHAR},
      </if>
      <if test="brandIdOld != null" >
        #{brandIdOld,jdbcType=VARCHAR},
      </if>
      <if test="minUintOld != null" >
        #{minUintOld,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csjscm.core.framework.model.SkuCore" >
    update sku_core
    <set >
      <if test="stdProductNo != null" >
        std_product_no = #{stdProductNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryNo != null" >
        category_no = #{categoryNo,jdbcType=VARCHAR},
      </if>
      <if test="isvalidate != null" >
        isvalidate = #{isvalidate,jdbcType=INTEGER},
      </if>
      <if test="approvalStatus != null" >
        approval_status = #{approvalStatus,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=INTEGER},
      </if>
      <if test="minUint != null" >
        min_uint = #{minUint,jdbcType=VARCHAR},
      </if>
      <if test="productPic != null" >
        product_pic = #{productPic,jdbcType=VARCHAR},
      </if>
      <if test="ean13Code != null" >
        ean13_code = #{ean13Code,jdbcType=VARCHAR},
      </if>
      <if test="mnemonicCode != null" >
        mnemonic_code = #{mnemonicCode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceType != null" >
        invoice_type = #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="txtCode != null" >
        txt_code = #{txtCode,jdbcType=VARCHAR},
      </if>
      <if test="rule != null" >
        rule = #{rule,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUserId != null" >
        edit_user_id = #{editUserId,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="udf1 != null" >
        udf1 = #{udf1,jdbcType=VARCHAR},
      </if>
      <if test="udf2 != null" >
        udf2 = #{udf2,jdbcType=VARCHAR},
      </if>
      <if test="udf3 != null" >
        udf3 = #{udf3,jdbcType=VARCHAR},
      </if>
      <if test="udf4 != null" >
        udf4 = #{udf4,jdbcType=VARCHAR},
      </if>
      <if test="udf5 != null" >
        udf5 = #{udf5,jdbcType=VARCHAR},
      </if>
      <if test="udf6 != null" >
        udf6 = #{udf6,jdbcType=VARCHAR},
      </if>
      <if test="udf7 != null" >
        udf7 = #{udf7,jdbcType=VARCHAR},
      </if>
      <if test="udf8 != null" >
        udf8 = #{udf8,jdbcType=VARCHAR},
      </if>
      <if test="udf9 != null" >
        udf9 = #{udf9,jdbcType=VARCHAR},
      </if>
      <if test="udf10 != null" >
        udf10 = #{udf10,jdbcType=VARCHAR},
      </if>
      <if test="suf1 != null" >
        suf1 = #{suf1,jdbcType=VARCHAR},
      </if>
      <if test="suf2 != null" >
        suf2 = #{suf2,jdbcType=VARCHAR},
      </if>
      <if test="suf3 != null" >
        suf3 = #{suf3,jdbcType=VARCHAR},
      </if>
      <if test="suf4 != null" >
        suf4 = #{suf4,jdbcType=VARCHAR},
      </if>
      <if test="suf5 != null" >
        suf5 = #{suf5,jdbcType=VARCHAR},
      </if>
      <if test="suf6 != null" >
        suf6 = #{suf6,jdbcType=VARCHAR},
      </if>
      <if test="suf7 != null" >
        suf7 = #{suf7,jdbcType=VARCHAR},
      </if>
      <if test="suf8 != null" >
        suf8 = #{suf8,jdbcType=VARCHAR},
      </if>
      <if test="suf9 != null" >
        suf9 = #{suf9,jdbcType=VARCHAR},
      </if>
      <if test="suf10 != null" >
        suf10 = #{suf10,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null" >
        request_id = #{requestId,jdbcType=VARCHAR},
      </if>
      <if test="categoryIdOld != null" >
        category_id_old = #{categoryIdOld,jdbcType=VARCHAR},
      </if>
      <if test="createUserIdOld != null" >
        create_user_id_old = #{createUserIdOld,jdbcType=VARCHAR},
      </if>
      <if test="editUserIdOld != null" >
        edit_user_id_old = #{editUserIdOld,jdbcType=VARCHAR},
      </if>
      <if test="approvalStatusOld != null" >
        approval_status_old = #{approvalStatusOld,jdbcType=VARCHAR},
      </if>
      <if test="brandIdOld != null" >
        brand_id_old = #{brandIdOld,jdbcType=VARCHAR},
      </if>
      <if test="minUintOld != null" >
        min_uint_old = #{minUintOld,jdbcType=VARCHAR},
      </if>
    </set>
    where product_no = #{productNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csjscm.core.framework.model.SkuCore" >
    update sku_core
    set std_product_no = #{stdProductNo,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      category_id = #{categoryId,jdbcType=INTEGER},
      category_no = #{categoryNo,jdbcType=VARCHAR},
      isvalidate = #{isvalidate,jdbcType=INTEGER},
      approval_status = #{approvalStatus,jdbcType=INTEGER},
      channel = #{channel,jdbcType=INTEGER},
      brand_name = #{brandName,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER},
      unit_id = #{unitId,jdbcType=INTEGER},
      min_uint = #{minUint,jdbcType=VARCHAR},
      product_pic = #{productPic,jdbcType=VARCHAR},
      ean13_code = #{ean13Code,jdbcType=VARCHAR},
      mnemonic_code = #{mnemonicCode,jdbcType=VARCHAR},
      invoice_type = #{invoiceType,jdbcType=VARCHAR},
      txt_code = #{txtCode,jdbcType=VARCHAR},
      rule = #{rule,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_user_id = #{editUserId,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      udf1 = #{udf1,jdbcType=VARCHAR},
      udf2 = #{udf2,jdbcType=VARCHAR},
      udf3 = #{udf3,jdbcType=VARCHAR},
      udf4 = #{udf4,jdbcType=VARCHAR},
      udf5 = #{udf5,jdbcType=VARCHAR},
      udf6 = #{udf6,jdbcType=VARCHAR},
      udf7 = #{udf7,jdbcType=VARCHAR},
      udf8 = #{udf8,jdbcType=VARCHAR},
      udf9 = #{udf9,jdbcType=VARCHAR},
      udf10 = #{udf10,jdbcType=VARCHAR},
      suf1 = #{suf1,jdbcType=VARCHAR},
      suf2 = #{suf2,jdbcType=VARCHAR},
      suf3 = #{suf3,jdbcType=VARCHAR},
      suf4 = #{suf4,jdbcType=VARCHAR},
      suf5 = #{suf5,jdbcType=VARCHAR},
      suf6 = #{suf6,jdbcType=VARCHAR},
      suf7 = #{suf7,jdbcType=VARCHAR},
      suf8 = #{suf8,jdbcType=VARCHAR},
      suf9 = #{suf9,jdbcType=VARCHAR},
      suf10 = #{suf10,jdbcType=VARCHAR},
      request_id = #{requestId,jdbcType=VARCHAR},
      category_id_old = #{categoryIdOld,jdbcType=VARCHAR},
      create_user_id_old = #{createUserIdOld,jdbcType=VARCHAR},
      edit_user_id_old = #{editUserIdOld,jdbcType=VARCHAR},
      approval_status_old = #{approvalStatusOld,jdbcType=VARCHAR},
      brand_id_old = #{brandIdOld,jdbcType=VARCHAR},
      min_uint_old = #{minUintOld,jdbcType=VARCHAR}
    where product_no = #{productNo,jdbcType=VARCHAR}
  </update>
  <select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from sku_core
    <include refid="searchBy"/>
  </select>

  <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from sku_core
    <include refid="searchBy"/>
  </select>
  <select id="findCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
    select count(product_no)
    from sku_core
    <include refid="searchBy"/>
  </select>
  <select id="selectByProductNoList" parameterType="java.lang.String" resultMap="BaseResultMap">
    select max(substring(product_no,1,8)) as product_no,category_no from sku_core where category_no is not null group by category_no
  </select>
</mapper>