<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csjscm.core.framework.dao.SkuCustomerMapper">
  <resultMap id="BaseResultMap" type="com.csjscm.core.framework.model.SkuCustomer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_no" jdbcType="VARCHAR" property="productNo" />
    <result column="customer_no" jdbcType="VARCHAR" property="customerNo" />
    <result column="customer_pd_no" jdbcType="VARCHAR" property="customerPdNo" />
    <result column="customer_pd_name" jdbcType="VARCHAR" property="customerPdName" />
    <result column="customer_pd_rule" jdbcType="VARCHAR" property="customerPdRule" />
    <result column="customer_pd_size" jdbcType="VARCHAR" property="customerPdSize" />
    <result column="reference_price" jdbcType="DECIMAL" property="referencePrice" />
    <result column="recent_quotation" jdbcType="DECIMAL" property="recentQuotation" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="edit_user_id" jdbcType="VARCHAR" property="editUserId" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="udf1" jdbcType="VARCHAR" property="udf1" />
    <result column="udf2" jdbcType="VARCHAR" property="udf2" />
    <result column="udf3" jdbcType="VARCHAR" property="udf3" />
    <result column="udf4" jdbcType="VARCHAR" property="udf4" />
    <result column="udf5" jdbcType="VARCHAR" property="udf5" />
    <result column="udf6" jdbcType="VARCHAR" property="udf6" />
    <result column="udf7" jdbcType="VARCHAR" property="udf7" />
    <result column="udf8" jdbcType="VARCHAR" property="udf8" />
    <result column="udf9" jdbcType="VARCHAR" property="udf9" />
    <result column="udf10" jdbcType="VARCHAR" property="udf10" />
    <result column="udf11" jdbcType="VARCHAR" property="udf11" />
    <result column="udf12" jdbcType="VARCHAR" property="udf12" />
    <result column="udf13" jdbcType="VARCHAR" property="udf13" />
    <result column="udf14" jdbcType="VARCHAR" property="udf14" />
    <result column="udf15" jdbcType="VARCHAR" property="udf15" />
    <result column="udf16" jdbcType="VARCHAR" property="udf16" />
    <result column="udf17" jdbcType="VARCHAR" property="udf17" />
    <result column="udf18" jdbcType="VARCHAR" property="udf18" />
    <result column="udf19" jdbcType="VARCHAR" property="udf19" />
    <result column="udf20" jdbcType="VARCHAR" property="udf20" />
    <result column="min_uint" property="minUint" jdbcType="VARCHAR" />
    <result column="brand_id" jdbcType="VARCHAR" property="brandId" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
  </resultMap>
  <resultMap id="ExResultMap" type="com.csjscm.core.framework.model.SkuCustomerEx" extends="BaseResultMap">
    <result column="identifying_code" property="identifyingCode" jdbcType="VARCHAR" />
    <result column="min_uint" property="minUint" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
    <result column="class_name" property="className" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_no, customer_no, customer_pd_no, customer_pd_name, customer_pd_rule,
    customer_pd_size, reference_price, recent_quotation, create_user_id, create_time,
    edit_user_id, edit_time, udf1, udf2, udf3, udf4, udf5, udf6, udf7, udf8, udf9, udf10,
    udf11, udf12, udf13, udf14, udf15, udf16, udf17, udf18, udf19, udf20,brand_id, brand_name,min_uint
  </sql>

  <sql id="Customer_Column_List">
    c.id, c.product_no, c.customer_no, c.customer_pd_no, c.customer_pd_name, c.customer_pd_rule,
    c.customer_pd_size, c.reference_price, c.recent_quotation, c.create_user_id, c.create_time,
    c.edit_user_id, c.edit_time, c.udf1, c.udf2, c.udf3, c.udf4, c.udf5, c.udf6, c.udf7, c.udf8, c.udf9, c.udf10,
    c.udf11, c.udf12, c.udf13, c.udf14, c.udf15, c.udf16, c.udf17, c.udf18, c.udf19, c.udf20
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      1=1
      <if test="productNo != null and productNo != ''">
        and c.product_no = #{productNo,jdbcType=VARCHAR}
      </if>
      <if test="customerNo != null and customerNo != ''">
        and c.customer_no=#{customerNo,jdbcType=VARCHAR}
      </if>
      <if test="customerPdName != null and customerPdName != ''">
        and c.customer_pd_name LIKE CONCAT('%',#{customerPdName,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sku_customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByExample" parameterType="map" resultMap="BaseResultMap">
    select
      <include refid="Customer_Column_List"/>
    from sku_customer c
    <include refid="Example_Where_Clause"/>
  </select>
  <select id="selectExByExample" parameterType="map" resultMap="ExResultMap">
    select
      <include refid="Customer_Column_List"/>,
      upc.identifying_code,sku.min_uint,sku.brand_id,sku.brand_name,ca.class_name
    from sku_customer c left join sku_core sku on c.product_no=sku.product_no
    left join sku_upc upc on c.product_no=upc.product_no
    left join category ca on sku.category_no=ca.class_code
    <include refid="Example_Where_Clause"/>
    <if test="brandId != null">
      and sku.brand_id=#{brandId,jdbcType=INTEGER}
    </if>
    <if test="brandName != null and brandName != ''">
      and sku.brand_name = #{brandName,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sku_customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.csjscm.core.framework.model.SkuCustomer">
    insert into sku_customer (id, product_no,
      customer_no, customer_pd_no, customer_pd_name, 
      customer_pd_rule, customer_pd_size, reference_price, 
      recent_quotation, create_user_id, create_time, 
      edit_user_id, edit_time, udf1, 
      udf2, udf3, udf4, udf5, 
      udf6, udf7, udf8, udf9, 
      udf10, udf11, udf12, 
      udf13, udf14, udf15, 
      udf16, udf17, udf18, 
      udf19, udf20,min_uint,brand_id, brand_name)
    values (#{id,jdbcType=INTEGER}, #{productNo,jdbcType=VARCHAR},
      #{customerNo,jdbcType=VARCHAR}, #{customerPdNo,jdbcType=VARCHAR}, #{customerPdName,jdbcType=VARCHAR}, 
      #{customerPdRule,jdbcType=VARCHAR}, #{customerPdSize,jdbcType=VARCHAR}, #{referencePrice,jdbcType=DECIMAL}, 
      #{recentQuotation,jdbcType=DECIMAL}, #{createUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{editUserId,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, #{udf1,jdbcType=VARCHAR}, 
      #{udf2,jdbcType=VARCHAR}, #{udf3,jdbcType=VARCHAR}, #{udf4,jdbcType=VARCHAR}, #{udf5,jdbcType=VARCHAR}, 
      #{udf6,jdbcType=VARCHAR}, #{udf7,jdbcType=VARCHAR}, #{udf8,jdbcType=VARCHAR}, #{udf9,jdbcType=VARCHAR}, 
      #{udf10,jdbcType=VARCHAR}, #{udf11,jdbcType=VARCHAR}, #{udf12,jdbcType=VARCHAR}, 
      #{udf13,jdbcType=VARCHAR}, #{udf14,jdbcType=VARCHAR}, #{udf15,jdbcType=VARCHAR}, 
      #{udf16,jdbcType=VARCHAR}, #{udf17,jdbcType=VARCHAR}, #{udf18,jdbcType=VARCHAR}, 
      #{udf19,jdbcType=VARCHAR}, #{udf20,jdbcType=VARCHAR}, #{minUint,jdbcType=VARCHAR},#{brandId,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.csjscm.core.framework.model.SkuCustomer">
    insert into sku_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productNo != null">
        product_no,
      </if>
      <if test="customerNo != null">
        customer_no,
      </if>
      <if test="customerPdNo != null">
        customer_pd_no,
      </if>
      <if test="customerPdName != null">
        customer_pd_name,
      </if>
      <if test="customerPdRule != null">
        customer_pd_rule,
      </if>
      <if test="customerPdSize != null">
        customer_pd_size,
      </if>
      <if test="referencePrice != null">
        reference_price,
      </if>
      <if test="recentQuotation != null">
        recent_quotation,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="editUserId != null">
        edit_user_id,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="udf1 != null">
        udf1,
      </if>
      <if test="udf2 != null">
        udf2,
      </if>
      <if test="udf3 != null">
        udf3,
      </if>
      <if test="udf4 != null">
        udf4,
      </if>
      <if test="udf5 != null">
        udf5,
      </if>
      <if test="udf6 != null">
        udf6,
      </if>
      <if test="udf7 != null">
        udf7,
      </if>
      <if test="udf8 != null">
        udf8,
      </if>
      <if test="udf9 != null">
        udf9,
      </if>
      <if test="udf10 != null">
        udf10,
      </if>
      <if test="udf11 != null">
        udf11,
      </if>
      <if test="udf12 != null">
        udf12,
      </if>
      <if test="udf13 != null">
        udf13,
      </if>
      <if test="udf14 != null">
        udf14,
      </if>
      <if test="udf15 != null">
        udf15,
      </if>
      <if test="udf16 != null">
        udf16,
      </if>
      <if test="udf17 != null">
        udf17,
      </if>
      <if test="udf18 != null">
        udf18,
      </if>
      <if test="udf19 != null">
        udf19,
      </if>
      <if test="udf20 != null">
        udf20,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="minUint != null">
        min_uint,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productNo != null">
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null">
        #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="customerPdNo != null">
        #{customerPdNo,jdbcType=VARCHAR},
      </if>
      <if test="customerPdName != null">
        #{customerPdName,jdbcType=VARCHAR},
      </if>
      <if test="customerPdRule != null">
        #{customerPdRule,jdbcType=VARCHAR},
      </if>
      <if test="customerPdSize != null">
        #{customerPdSize,jdbcType=VARCHAR},
      </if>
      <if test="referencePrice != null">
        #{referencePrice,jdbcType=DECIMAL},
      </if>
      <if test="recentQuotation != null">
        #{recentQuotation,jdbcType=DECIMAL},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUserId != null">
        #{editUserId,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="udf1 != null">
        #{udf1,jdbcType=VARCHAR},
      </if>
      <if test="udf2 != null">
        #{udf2,jdbcType=VARCHAR},
      </if>
      <if test="udf3 != null">
        #{udf3,jdbcType=VARCHAR},
      </if>
      <if test="udf4 != null">
        #{udf4,jdbcType=VARCHAR},
      </if>
      <if test="udf5 != null">
        #{udf5,jdbcType=VARCHAR},
      </if>
      <if test="udf6 != null">
        #{udf6,jdbcType=VARCHAR},
      </if>
      <if test="udf7 != null">
        #{udf7,jdbcType=VARCHAR},
      </if>
      <if test="udf8 != null">
        #{udf8,jdbcType=VARCHAR},
      </if>
      <if test="udf9 != null">
        #{udf9,jdbcType=VARCHAR},
      </if>
      <if test="udf10 != null">
        #{udf10,jdbcType=VARCHAR},
      </if>
      <if test="udf11 != null">
        #{udf11,jdbcType=VARCHAR},
      </if>
      <if test="udf12 != null">
        #{udf12,jdbcType=VARCHAR},
      </if>
      <if test="udf13 != null">
        #{udf13,jdbcType=VARCHAR},
      </if>
      <if test="udf14 != null">
        #{udf14,jdbcType=VARCHAR},
      </if>
      <if test="udf15 != null">
        #{udf15,jdbcType=VARCHAR},
      </if>
      <if test="udf16 != null">
        #{udf16,jdbcType=VARCHAR},
      </if>
      <if test="udf17 != null">
        #{udf17,jdbcType=VARCHAR},
      </if>
      <if test="udf18 != null">
        #{udf18,jdbcType=VARCHAR},
      </if>
      <if test="udf19 != null">
        #{udf19,jdbcType=VARCHAR},
      </if>
      <if test="udf20 != null">
        #{udf20,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="minUint != null">
        #{minUint,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csjscm.core.framework.model.SkuCustomer">
    update sku_customer
    <set>
      <if test="productNo != null">
        product_no = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null">
        customer_no = #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="customerPdNo != null">
        customer_pd_no = #{customerPdNo,jdbcType=VARCHAR},
      </if>
      <if test="customerPdName != null">
        customer_pd_name = #{customerPdName,jdbcType=VARCHAR},
      </if>
      <if test="customerPdRule != null">
        customer_pd_rule = #{customerPdRule,jdbcType=VARCHAR},
      </if>
      <if test="customerPdSize != null">
        customer_pd_size = #{customerPdSize,jdbcType=VARCHAR},
      </if>
      <if test="referencePrice != null">
        reference_price = #{referencePrice,jdbcType=DECIMAL},
      </if>
      <if test="recentQuotation != null">
        recent_quotation = #{recentQuotation,jdbcType=DECIMAL},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUserId != null">
        edit_user_id = #{editUserId,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="udf1 != null">
        udf1 = #{udf1,jdbcType=VARCHAR},
      </if>
      <if test="udf2 != null">
        udf2 = #{udf2,jdbcType=VARCHAR},
      </if>
      <if test="udf3 != null">
        udf3 = #{udf3,jdbcType=VARCHAR},
      </if>
      <if test="udf4 != null">
        udf4 = #{udf4,jdbcType=VARCHAR},
      </if>
      <if test="udf5 != null">
        udf5 = #{udf5,jdbcType=VARCHAR},
      </if>
      <if test="udf6 != null">
        udf6 = #{udf6,jdbcType=VARCHAR},
      </if>
      <if test="udf7 != null">
        udf7 = #{udf7,jdbcType=VARCHAR},
      </if>
      <if test="udf8 != null">
        udf8 = #{udf8,jdbcType=VARCHAR},
      </if>
      <if test="udf9 != null">
        udf9 = #{udf9,jdbcType=VARCHAR},
      </if>
      <if test="udf10 != null">
        udf10 = #{udf10,jdbcType=VARCHAR},
      </if>
      <if test="udf11 != null">
        udf11 = #{udf11,jdbcType=VARCHAR},
      </if>
      <if test="udf12 != null">
        udf12 = #{udf12,jdbcType=VARCHAR},
      </if>
      <if test="udf13 != null">
        udf13 = #{udf13,jdbcType=VARCHAR},
      </if>
      <if test="udf14 != null">
        udf14 = #{udf14,jdbcType=VARCHAR},
      </if>
      <if test="udf15 != null">
        udf15 = #{udf15,jdbcType=VARCHAR},
      </if>
      <if test="udf16 != null">
        udf16 = #{udf16,jdbcType=VARCHAR},
      </if>
      <if test="udf17 != null">
        udf17 = #{udf17,jdbcType=VARCHAR},
      </if>
      <if test="udf18 != null">
        udf18 = #{udf18,jdbcType=VARCHAR},
      </if>
      <if test="udf19 != null">
        udf19 = #{udf19,jdbcType=VARCHAR},
      </if>
      <if test="udf20 != null">
        udf20 = #{udf20,jdbcType=VARCHAR},
      </if>
      <if test="minUint != null">
        min_uint = #{minUint,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csjscm.core.framework.model.SkuCustomer">
    update sku_customer
    set product_no = #{productNo,jdbcType=VARCHAR},
      customer_no = #{customerNo,jdbcType=VARCHAR},
      customer_pd_no = #{customerPdNo,jdbcType=VARCHAR},
      customer_pd_name = #{customerPdName,jdbcType=VARCHAR},
      customer_pd_rule = #{customerPdRule,jdbcType=VARCHAR},
      customer_pd_size = #{customerPdSize,jdbcType=VARCHAR},
      reference_price = #{referencePrice,jdbcType=DECIMAL},
      recent_quotation = #{recentQuotation,jdbcType=DECIMAL},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_user_id = #{editUserId,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      udf1 = #{udf1,jdbcType=VARCHAR},
      udf2 = #{udf2,jdbcType=VARCHAR},
      udf3 = #{udf3,jdbcType=VARCHAR},
      udf4 = #{udf4,jdbcType=VARCHAR},
      udf5 = #{udf5,jdbcType=VARCHAR},
      udf6 = #{udf6,jdbcType=VARCHAR},
      udf7 = #{udf7,jdbcType=VARCHAR},
      udf8 = #{udf8,jdbcType=VARCHAR},
      udf9 = #{udf9,jdbcType=VARCHAR},
      udf10 = #{udf10,jdbcType=VARCHAR},
      udf11 = #{udf11,jdbcType=VARCHAR},
      udf12 = #{udf12,jdbcType=VARCHAR},
      udf13 = #{udf13,jdbcType=VARCHAR},
      udf14 = #{udf14,jdbcType=VARCHAR},
      udf15 = #{udf15,jdbcType=VARCHAR},
      udf16 = #{udf16,jdbcType=VARCHAR},
      udf17 = #{udf17,jdbcType=VARCHAR},
      udf18 = #{udf18,jdbcType=VARCHAR},
      min_uint = #{minUint,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      udf19 = #{udf19,jdbcType=VARCHAR},
      udf20 = #{udf20,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 基本的sql查询条件公共引用 -->
  <sql id="searchBy">
    <trim prefix="where" prefixOverrides="and|or">
      <if test=" id != null and id != '' ">
        id  = #{id,jdbcType=INTEGER}
      </if>
      <if test="productNo != null and productNo != '' ">
        and product_no = #{productNo,jdbcType=VARCHAR}
      </if>
      <if test="entName != null and entName != '' ">
        and ent_name = #{entName,jdbcType=VARCHAR}
      </if>
      <if test="customerNo != null and customerNo != '' ">
        and customer_no = #{customerNo,jdbcType=VARCHAR}
      </if>
      <if test="customerPdNo != null and customerPdNo != '' ">
        and customer_pd_no = #{customerPdNo,jdbcType=VARCHAR}
      </if>
      <if test="customerPdName != null and customerPdName != '' ">
        and customer_pd_name = #{customerPdName,jdbcType=VARCHAR}
      </if>
      <if test="customerPdRule != null and customerPdRule != '' ">
        and customer_pd_rule = #{customerPdRule,jdbcType=VARCHAR}
      </if>
      <if test="customerPdSize != null and customerPdSize != '' ">
        and customer_pd_size = #{customerPdSize,jdbcType=VARCHAR}
      </if>
      <if test="referencePrice != null">
        and reference_price = #{referencePrice,jdbcType=DECIMAL}
      </if>
      <if test="recentQuotation != null  ">
        and recent_quotation = #{recentQuotation,jdbcType=DECIMAL}
      </if>
      <if test="createUserId != null and createUserId != '' ">
        and create_user_id = #{createUserId,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null ">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="editUserId != null and editUserId != '' ">
        and edit_user_id = #{editUserId,jdbcType=VARCHAR}
      </if>
      <if test="editTime != null  ">
        and edit_time = #{editTime,jdbcType=TIMESTAMP}
      </if>
      <if test="udf1 != null and udf1 != '' ">
        and udf1 = #{udf1,jdbcType=VARCHAR}
      </if>
      <if test="udf2 != null and udf2 != '' ">
        and udf2 = #{udf2,jdbcType=VARCHAR}
      </if>
      <if test="udf3 != null and udf3 != '' ">
        and udf3 = #{udf3,jdbcType=VARCHAR}
      </if>
      <if test="udf4 != null and udf4 != '' ">
        and udf4 = #{udf4,jdbcType=VARCHAR}
      </if>
      <if test="udf5 != null and udf5 != '' ">
        and udf5 = #{udf5,jdbcType=VARCHAR}
      </if>
      <if test="udf6 != null and udf6 != '' ">
        and udf6 = #{udf6,jdbcType=VARCHAR}
      </if>
      <if test="udf7 != null and udf7 != '' ">
        and udf7 = #{udf7,jdbcType=VARCHAR}
      </if>
      <if test="udf8 != null and udf8 != '' ">
        and udf8 = #{udf8,jdbcType=VARCHAR}
      </if>
      <if test="udf9 != null and udf9 != '' ">
        and udf9 = #{udf9,jdbcType=VARCHAR}
      </if>
      <if test="udf10 != null and udf10 != '' ">
        and udf10 = #{udf10,jdbcType=VARCHAR}
      </if>
      <if test="udf11 != null and udf11 != '' ">
        and udf11 = #{udf11,jdbcType=VARCHAR}
      </if>
      <if test="udf12 != null and udf12 != '' ">
        and udf12 = #{udf12,jdbcType=VARCHAR}
      </if>
      <if test="udf13 != null and udf13 != '' ">
        and udf13 = #{udf13,jdbcType=VARCHAR}
      </if>
      <if test="udf14 != null and udf14 != '' ">
        and udf14 = #{udf14,jdbcType=VARCHAR}
      </if>
      <if test="udf15 != null and udf15 != '' ">
        and udf15 = #{udf15,jdbcType=VARCHAR}
      </if>
      <if test="udf16 != null and udf16 != '' ">
        and udf16 = #{udf16,jdbcType=VARCHAR}
      </if>
      <if test="udf17 != null and udf17 != '' ">
        and udf17 = #{udf17,jdbcType=VARCHAR}
      </if>
      <if test="udf18 != null and udf18 != '' ">
        and udf18 = #{udf18,jdbcType=VARCHAR}
      </if>
      <if test="udf19 != null and udf19 != '' ">
        and udf19 = #{udf19,jdbcType=VARCHAR}
      </if>
      <if test="udf20 != null and udf20 != '' ">
        and udf20 = #{udf20,jdbcType=VARCHAR}
      </if>
      <if test="requestId != null and requestId != '' ">
        and request_id = #{requestId,jdbcType=VARCHAR}
      </if>
      <if test="brandId != null and brandId != '' ">
        and brand_id = #{brandId,jdbcType=VARCHAR}
      </if>
      <if test="brandName != null and brandName != '' ">
        and brand_name = #{brandName,jdbcType=VARCHAR}
      </if>
      <if test="minUint != null and minUint != ''">
        and min_uint = #{minUint,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from sku_customer
    <include refid="searchBy"/>
  </select>

  <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from sku_customer
    <include refid="searchBy"/>
  </select>
  <select id="listSelectiveSCM" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    SELECT a.* FROM sku_customer a
    LEFT JOIN enterprise_info b on a.customer_no=b.ent_number
    <include refid="searchBy"/>
  </select>
  <select id="findCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
    select count(id)
    from sku_customer
    <include refid="searchBy"/>
  </select>

  <select id="selectPage" resultType="com.csjscm.core.framework.vo.SkuCustomerPageVo" parameterType="java.util.HashMap">
    select
    c.id id,c.product_no productNo,c.customer_pd_name customerPdName, c.customer_pd_no customerPdNo,c.brand_id brandId,
    c.brand_name brandName,c.customer_pd_rule customerPdRule,c.customer_pd_size customerPdSize,c.min_uint minUint,
    sku.category_no categoryNo,sku.lv2_category_no lv2CategoryNo,sku.lv1_category_no lv1CategoryNo,
    sku.category_id categoryId,sku.lv1_category_id lv1CategoryId,sku.lv2_category_id lv2CategoryId,
    sku.category_sp_id categorySpId,sku.lv1_category_sp_id lv1CategorySpId,sku.lv2_category_sp_id lv2CategorySpId,
    sku.category_sp_no categorySpNo,sku.lv2_category_sp_no lv2CategorySpNo,sku.lv1_category_sp_no lv1CategorySpNo,
    sku.ean13_code ean13Code,sku.mnemonic_code mnemonicCode,
    sku.channel,ent.ent_name entName,ent.ent_number customerNo
    from sku_customer c left join sku_core sku on c.product_no=sku.product_no
    left join enterprise_info ent on ent.ent_number=c.customer_no
    <where>
      1=1
      <if test="productNo!=null and productNo!=''">
        and c.product_no =#{productNo}
      </if>
      <if test="productNoLike!=null and productNoLike!=''">
        and c.product_no LIKE CONCAT('%',#{productNoLike,jdbcType=VARCHAR},'%')
      </if>
      <if test="id!=null">
        and c.id =#{id}
      </if>
      <if test="channel!=null and channel!=''">
        and sku.channel =#{channel}
      </if>
      <if test="brandName!=null and brandName!=''">
        and c.brand_name=#{brandName}
      </if>
      <if test="customerPdName!=null and customerPdName!=''">
        and c.customer_pd_name LIKE CONCAT('%',#{customerPdName,jdbcType=VARCHAR},'%')
      </if>
      <if test="size!=null and size!=''">
        and c.customer_pd_size =#{size}
      </if>
      <if test="sizeLike!=null and sizeLike!=''">
        and c.customer_pd_size  LIKE CONCAT('%',#{sizeLike,jdbcType=VARCHAR},'%')
      </if>
      <if test="customerPdRuleLike != null and customerPdRuleLike != '' ">
        and c.customer_pd_rule like concat('%',#{customerPdRuleLike,jdbcType=VARCHAR},'%')
      </if>
      <if test="customerPdRule != null and customerPdRule != '' ">
        and c.customer_pd_rule = #{customerPdRule,jdbcType=VARCHAR}
      </if>
      <if test="entName!=null and entName!=''">
        and ent.ent_name LIKE CONCAT('%',#{entName,jdbcType=VARCHAR},'%')
      </if>
      <if test="entNameLike!=null and entNameLike!=''">
        and ent.ent_name LIKE CONCAT('%',#{entName,jdbcType=VARCHAR},'%')
      </if>
      <if test="lv1CategoryNo != null and lv1CategoryNo != '' ">
        and sku.lv1_category_no = #{lv1CategoryNo,jdbcType=VARCHAR}
      </if>
      <if test="lv2CategoryNo != null and lv2CategoryNo != '' ">
        and sku.lv2_category_no = #{lv2CategoryNo,jdbcType=VARCHAR}
      </if>
      <if test="categoryNo != null and categoryNo != '' ">
        and sku.category_no = #{categoryNo,jdbcType=VARCHAR}
      </if>
      <if test="lv1CategorySpNo != null and lv1CategorySpNo != '' ">
        and sku.lv1_category_sp_no = #{lv1CategorySpNo,jdbcType=VARCHAR}
      </if>
      <if test="lv2CategorySpNo != null and lv2CategorySpNo != '' ">
        and sku.lv2_category_sp_no = #{lv2CategorySpNo,jdbcType=VARCHAR}
      </if>
      <if test="categorySpNo != null and categorySpNo != '' ">
        and sku.category_sp_no = #{categorySpNo,jdbcType=VARCHAR}
      </if>
    </where>
    order  by  c.create_time desc
  </select>
</mapper>