<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csjscm.core.framework.dao.SpuMapper">
  <resultMap id="BaseResultMap" type="com.csjscm.core.framework.model.Spu">
    <id column="std_product_no" jdbcType="VARCHAR" property="stdProductNo" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="guidance_price" jdbcType="DECIMAL" property="guidancePrice" />
    <result column="page_title" jdbcType="VARCHAR" property="pageTitle" />
    <result column="distribution_condition" jdbcType="VARCHAR" property="distributionCondition" />
    <result column="isvalidate" jdbcType="INTEGER" property="isvalidate" />
    <result column="page_main_pic" jdbcType="VARCHAR" property="pageMainPic" />
    <result column="brand_id" jdbcType="VARCHAR" property="brandId" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="edit_user_id" jdbcType="VARCHAR" property="editUserId" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="cdf1" jdbcType="VARCHAR" property="cdf1" />
    <result column="cdf2" jdbcType="VARCHAR" property="cdf2" />
    <result column="cdf3" jdbcType="VARCHAR" property="cdf3" />
    <result column="cdf4" jdbcType="VARCHAR" property="cdf4" />
    <result column="cdf5" jdbcType="VARCHAR" property="cdf5" />
    <result column="cdf6" jdbcType="VARCHAR" property="cdf6" />
    <result column="cdf7" jdbcType="VARCHAR" property="cdf7" />
    <result column="cdf8" jdbcType="VARCHAR" property="cdf8" />
    <result column="cdf9" jdbcType="VARCHAR" property="cdf9" />
    <result column="cdf10" jdbcType="VARCHAR" property="cdf10" />
    <result column="cdf11" jdbcType="VARCHAR" property="cdf11" />
    <result column="cdf12" jdbcType="VARCHAR" property="cdf12" />
    <result column="cdf13" jdbcType="VARCHAR" property="cdf13" />
    <result column="cdf14" jdbcType="VARCHAR" property="cdf14" />
    <result column="cdf15" jdbcType="VARCHAR" property="cdf15" />
    <result column="cdf16" jdbcType="VARCHAR" property="cdf16" />
    <result column="cdf17" jdbcType="VARCHAR" property="cdf17" />
    <result column="cdf18" jdbcType="VARCHAR" property="cdf18" />
    <result column="cdf19" jdbcType="VARCHAR" property="cdf19" />
    <result column="cdf20" jdbcType="VARCHAR" property="cdf20" />
    <result column="cdf21" jdbcType="VARCHAR" property="cdf21" />
    <result column="cdf22" jdbcType="VARCHAR" property="cdf22" />
    <result column="cdf23" jdbcType="VARCHAR" property="cdf23" />
    <result column="cdf24" jdbcType="VARCHAR" property="cdf24" />
    <result column="cdf25" jdbcType="VARCHAR" property="cdf25" />
    <result column="cdf26" jdbcType="VARCHAR" property="cdf26" />
    <result column="cdf27" jdbcType="VARCHAR" property="cdf27" />
    <result column="cdf28" jdbcType="VARCHAR" property="cdf28" />
    <result column="cdf29" jdbcType="VARCHAR" property="cdf29" />
    <result column="cdf30" jdbcType="VARCHAR" property="cdf30" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.csjscm.core.framework.model.Spu">
    <result column="product_info" jdbcType="LONGVARCHAR" property="productInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    std_product_no, category_id, guidance_price, page_title, distribution_condition, 
    isvalidate, page_main_pic, brand_id, create_user_id, create_time, edit_user_id, edit_time, 
    cdf1, cdf2, cdf3, cdf4, cdf5, cdf6, cdf7, cdf8, cdf9, cdf10, cdf11, cdf12, cdf13, 
    cdf14, cdf15, cdf16, cdf17, cdf18, cdf19, cdf20, cdf21, cdf22, cdf23, cdf24, cdf25, 
    cdf26, cdf27, cdf28, cdf29, cdf30
  </sql>
  <sql id="Blob_Column_List">
    product_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from spu
    where std_product_no = #{stdProductNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from spu
    where std_product_no = #{stdProductNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.csjscm.core.framework.model.Spu">
    insert into spu (std_product_no, category_id, guidance_price, 
      page_title, distribution_condition, isvalidate, 
      page_main_pic, brand_id, create_user_id, 
      create_time, edit_user_id, edit_time, 
      cdf1, cdf2, cdf3, cdf4, 
      cdf5, cdf6, cdf7, cdf8, 
      cdf9, cdf10, cdf11, 
      cdf12, cdf13, cdf14, 
      cdf15, cdf16, cdf17, 
      cdf18, cdf19, cdf20, 
      cdf21, cdf22, cdf23, 
      cdf24, cdf25, cdf26, 
      cdf27, cdf28, cdf29, 
      cdf30, product_info)
    values (#{stdProductNo,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR}, #{guidancePrice,jdbcType=DECIMAL}, 
      #{pageTitle,jdbcType=VARCHAR}, #{distributionCondition,jdbcType=VARCHAR}, #{isvalidate,jdbcType=INTEGER}, 
      #{pageMainPic,jdbcType=VARCHAR}, #{brandId,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{editUserId,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, 
      #{cdf1,jdbcType=VARCHAR}, #{cdf2,jdbcType=VARCHAR}, #{cdf3,jdbcType=VARCHAR}, #{cdf4,jdbcType=VARCHAR}, 
      #{cdf5,jdbcType=VARCHAR}, #{cdf6,jdbcType=VARCHAR}, #{cdf7,jdbcType=VARCHAR}, #{cdf8,jdbcType=VARCHAR}, 
      #{cdf9,jdbcType=VARCHAR}, #{cdf10,jdbcType=VARCHAR}, #{cdf11,jdbcType=VARCHAR}, 
      #{cdf12,jdbcType=VARCHAR}, #{cdf13,jdbcType=VARCHAR}, #{cdf14,jdbcType=VARCHAR}, 
      #{cdf15,jdbcType=VARCHAR}, #{cdf16,jdbcType=VARCHAR}, #{cdf17,jdbcType=VARCHAR}, 
      #{cdf18,jdbcType=VARCHAR}, #{cdf19,jdbcType=VARCHAR}, #{cdf20,jdbcType=VARCHAR}, 
      #{cdf21,jdbcType=VARCHAR}, #{cdf22,jdbcType=VARCHAR}, #{cdf23,jdbcType=VARCHAR}, 
      #{cdf24,jdbcType=VARCHAR}, #{cdf25,jdbcType=VARCHAR}, #{cdf26,jdbcType=VARCHAR}, 
      #{cdf27,jdbcType=VARCHAR}, #{cdf28,jdbcType=VARCHAR}, #{cdf29,jdbcType=VARCHAR}, 
      #{cdf30,jdbcType=VARCHAR}, #{productInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.csjscm.core.framework.model.Spu">
    insert into spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stdProductNo != null">
        std_product_no,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="guidancePrice != null">
        guidance_price,
      </if>
      <if test="pageTitle != null">
        page_title,
      </if>
      <if test="distributionCondition != null">
        distribution_condition,
      </if>
      <if test="isvalidate != null">
        isvalidate,
      </if>
      <if test="pageMainPic != null">
        page_main_pic,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="editUserId != null">
        edit_user_id,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="cdf1 != null">
        cdf1,
      </if>
      <if test="cdf2 != null">
        cdf2,
      </if>
      <if test="cdf3 != null">
        cdf3,
      </if>
      <if test="cdf4 != null">
        cdf4,
      </if>
      <if test="cdf5 != null">
        cdf5,
      </if>
      <if test="cdf6 != null">
        cdf6,
      </if>
      <if test="cdf7 != null">
        cdf7,
      </if>
      <if test="cdf8 != null">
        cdf8,
      </if>
      <if test="cdf9 != null">
        cdf9,
      </if>
      <if test="cdf10 != null">
        cdf10,
      </if>
      <if test="cdf11 != null">
        cdf11,
      </if>
      <if test="cdf12 != null">
        cdf12,
      </if>
      <if test="cdf13 != null">
        cdf13,
      </if>
      <if test="cdf14 != null">
        cdf14,
      </if>
      <if test="cdf15 != null">
        cdf15,
      </if>
      <if test="cdf16 != null">
        cdf16,
      </if>
      <if test="cdf17 != null">
        cdf17,
      </if>
      <if test="cdf18 != null">
        cdf18,
      </if>
      <if test="cdf19 != null">
        cdf19,
      </if>
      <if test="cdf20 != null">
        cdf20,
      </if>
      <if test="cdf21 != null">
        cdf21,
      </if>
      <if test="cdf22 != null">
        cdf22,
      </if>
      <if test="cdf23 != null">
        cdf23,
      </if>
      <if test="cdf24 != null">
        cdf24,
      </if>
      <if test="cdf25 != null">
        cdf25,
      </if>
      <if test="cdf26 != null">
        cdf26,
      </if>
      <if test="cdf27 != null">
        cdf27,
      </if>
      <if test="cdf28 != null">
        cdf28,
      </if>
      <if test="cdf29 != null">
        cdf29,
      </if>
      <if test="cdf30 != null">
        cdf30,
      </if>
      <if test="productInfo != null">
        product_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stdProductNo != null">
        #{stdProductNo,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="guidancePrice != null">
        #{guidancePrice,jdbcType=DECIMAL},
      </if>
      <if test="pageTitle != null">
        #{pageTitle,jdbcType=VARCHAR},
      </if>
      <if test="distributionCondition != null">
        #{distributionCondition,jdbcType=VARCHAR},
      </if>
      <if test="isvalidate != null">
        #{isvalidate,jdbcType=INTEGER},
      </if>
      <if test="pageMainPic != null">
        #{pageMainPic,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUserId != null">
        #{editUserId,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cdf1 != null">
        #{cdf1,jdbcType=VARCHAR},
      </if>
      <if test="cdf2 != null">
        #{cdf2,jdbcType=VARCHAR},
      </if>
      <if test="cdf3 != null">
        #{cdf3,jdbcType=VARCHAR},
      </if>
      <if test="cdf4 != null">
        #{cdf4,jdbcType=VARCHAR},
      </if>
      <if test="cdf5 != null">
        #{cdf5,jdbcType=VARCHAR},
      </if>
      <if test="cdf6 != null">
        #{cdf6,jdbcType=VARCHAR},
      </if>
      <if test="cdf7 != null">
        #{cdf7,jdbcType=VARCHAR},
      </if>
      <if test="cdf8 != null">
        #{cdf8,jdbcType=VARCHAR},
      </if>
      <if test="cdf9 != null">
        #{cdf9,jdbcType=VARCHAR},
      </if>
      <if test="cdf10 != null">
        #{cdf10,jdbcType=VARCHAR},
      </if>
      <if test="cdf11 != null">
        #{cdf11,jdbcType=VARCHAR},
      </if>
      <if test="cdf12 != null">
        #{cdf12,jdbcType=VARCHAR},
      </if>
      <if test="cdf13 != null">
        #{cdf13,jdbcType=VARCHAR},
      </if>
      <if test="cdf14 != null">
        #{cdf14,jdbcType=VARCHAR},
      </if>
      <if test="cdf15 != null">
        #{cdf15,jdbcType=VARCHAR},
      </if>
      <if test="cdf16 != null">
        #{cdf16,jdbcType=VARCHAR},
      </if>
      <if test="cdf17 != null">
        #{cdf17,jdbcType=VARCHAR},
      </if>
      <if test="cdf18 != null">
        #{cdf18,jdbcType=VARCHAR},
      </if>
      <if test="cdf19 != null">
        #{cdf19,jdbcType=VARCHAR},
      </if>
      <if test="cdf20 != null">
        #{cdf20,jdbcType=VARCHAR},
      </if>
      <if test="cdf21 != null">
        #{cdf21,jdbcType=VARCHAR},
      </if>
      <if test="cdf22 != null">
        #{cdf22,jdbcType=VARCHAR},
      </if>
      <if test="cdf23 != null">
        #{cdf23,jdbcType=VARCHAR},
      </if>
      <if test="cdf24 != null">
        #{cdf24,jdbcType=VARCHAR},
      </if>
      <if test="cdf25 != null">
        #{cdf25,jdbcType=VARCHAR},
      </if>
      <if test="cdf26 != null">
        #{cdf26,jdbcType=VARCHAR},
      </if>
      <if test="cdf27 != null">
        #{cdf27,jdbcType=VARCHAR},
      </if>
      <if test="cdf28 != null">
        #{cdf28,jdbcType=VARCHAR},
      </if>
      <if test="cdf29 != null">
        #{cdf29,jdbcType=VARCHAR},
      </if>
      <if test="cdf30 != null">
        #{cdf30,jdbcType=VARCHAR},
      </if>
      <if test="productInfo != null">
        #{productInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csjscm.core.framework.model.Spu">
    update spu
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="guidancePrice != null">
        guidance_price = #{guidancePrice,jdbcType=DECIMAL},
      </if>
      <if test="pageTitle != null">
        page_title = #{pageTitle,jdbcType=VARCHAR},
      </if>
      <if test="distributionCondition != null">
        distribution_condition = #{distributionCondition,jdbcType=VARCHAR},
      </if>
      <if test="isvalidate != null">
        isvalidate = #{isvalidate,jdbcType=INTEGER},
      </if>
      <if test="pageMainPic != null">
        page_main_pic = #{pageMainPic,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUserId != null">
        edit_user_id = #{editUserId,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cdf1 != null">
        cdf1 = #{cdf1,jdbcType=VARCHAR},
      </if>
      <if test="cdf2 != null">
        cdf2 = #{cdf2,jdbcType=VARCHAR},
      </if>
      <if test="cdf3 != null">
        cdf3 = #{cdf3,jdbcType=VARCHAR},
      </if>
      <if test="cdf4 != null">
        cdf4 = #{cdf4,jdbcType=VARCHAR},
      </if>
      <if test="cdf5 != null">
        cdf5 = #{cdf5,jdbcType=VARCHAR},
      </if>
      <if test="cdf6 != null">
        cdf6 = #{cdf6,jdbcType=VARCHAR},
      </if>
      <if test="cdf7 != null">
        cdf7 = #{cdf7,jdbcType=VARCHAR},
      </if>
      <if test="cdf8 != null">
        cdf8 = #{cdf8,jdbcType=VARCHAR},
      </if>
      <if test="cdf9 != null">
        cdf9 = #{cdf9,jdbcType=VARCHAR},
      </if>
      <if test="cdf10 != null">
        cdf10 = #{cdf10,jdbcType=VARCHAR},
      </if>
      <if test="cdf11 != null">
        cdf11 = #{cdf11,jdbcType=VARCHAR},
      </if>
      <if test="cdf12 != null">
        cdf12 = #{cdf12,jdbcType=VARCHAR},
      </if>
      <if test="cdf13 != null">
        cdf13 = #{cdf13,jdbcType=VARCHAR},
      </if>
      <if test="cdf14 != null">
        cdf14 = #{cdf14,jdbcType=VARCHAR},
      </if>
      <if test="cdf15 != null">
        cdf15 = #{cdf15,jdbcType=VARCHAR},
      </if>
      <if test="cdf16 != null">
        cdf16 = #{cdf16,jdbcType=VARCHAR},
      </if>
      <if test="cdf17 != null">
        cdf17 = #{cdf17,jdbcType=VARCHAR},
      </if>
      <if test="cdf18 != null">
        cdf18 = #{cdf18,jdbcType=VARCHAR},
      </if>
      <if test="cdf19 != null">
        cdf19 = #{cdf19,jdbcType=VARCHAR},
      </if>
      <if test="cdf20 != null">
        cdf20 = #{cdf20,jdbcType=VARCHAR},
      </if>
      <if test="cdf21 != null">
        cdf21 = #{cdf21,jdbcType=VARCHAR},
      </if>
      <if test="cdf22 != null">
        cdf22 = #{cdf22,jdbcType=VARCHAR},
      </if>
      <if test="cdf23 != null">
        cdf23 = #{cdf23,jdbcType=VARCHAR},
      </if>
      <if test="cdf24 != null">
        cdf24 = #{cdf24,jdbcType=VARCHAR},
      </if>
      <if test="cdf25 != null">
        cdf25 = #{cdf25,jdbcType=VARCHAR},
      </if>
      <if test="cdf26 != null">
        cdf26 = #{cdf26,jdbcType=VARCHAR},
      </if>
      <if test="cdf27 != null">
        cdf27 = #{cdf27,jdbcType=VARCHAR},
      </if>
      <if test="cdf28 != null">
        cdf28 = #{cdf28,jdbcType=VARCHAR},
      </if>
      <if test="cdf29 != null">
        cdf29 = #{cdf29,jdbcType=VARCHAR},
      </if>
      <if test="cdf30 != null">
        cdf30 = #{cdf30,jdbcType=VARCHAR},
      </if>
      <if test="productInfo != null">
        product_info = #{productInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where std_product_no = #{stdProductNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.csjscm.core.framework.model.Spu">
    update spu
    set category_id = #{categoryId,jdbcType=VARCHAR},
      guidance_price = #{guidancePrice,jdbcType=DECIMAL},
      page_title = #{pageTitle,jdbcType=VARCHAR},
      distribution_condition = #{distributionCondition,jdbcType=VARCHAR},
      isvalidate = #{isvalidate,jdbcType=INTEGER},
      page_main_pic = #{pageMainPic,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_user_id = #{editUserId,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      cdf1 = #{cdf1,jdbcType=VARCHAR},
      cdf2 = #{cdf2,jdbcType=VARCHAR},
      cdf3 = #{cdf3,jdbcType=VARCHAR},
      cdf4 = #{cdf4,jdbcType=VARCHAR},
      cdf5 = #{cdf5,jdbcType=VARCHAR},
      cdf6 = #{cdf6,jdbcType=VARCHAR},
      cdf7 = #{cdf7,jdbcType=VARCHAR},
      cdf8 = #{cdf8,jdbcType=VARCHAR},
      cdf9 = #{cdf9,jdbcType=VARCHAR},
      cdf10 = #{cdf10,jdbcType=VARCHAR},
      cdf11 = #{cdf11,jdbcType=VARCHAR},
      cdf12 = #{cdf12,jdbcType=VARCHAR},
      cdf13 = #{cdf13,jdbcType=VARCHAR},
      cdf14 = #{cdf14,jdbcType=VARCHAR},
      cdf15 = #{cdf15,jdbcType=VARCHAR},
      cdf16 = #{cdf16,jdbcType=VARCHAR},
      cdf17 = #{cdf17,jdbcType=VARCHAR},
      cdf18 = #{cdf18,jdbcType=VARCHAR},
      cdf19 = #{cdf19,jdbcType=VARCHAR},
      cdf20 = #{cdf20,jdbcType=VARCHAR},
      cdf21 = #{cdf21,jdbcType=VARCHAR},
      cdf22 = #{cdf22,jdbcType=VARCHAR},
      cdf23 = #{cdf23,jdbcType=VARCHAR},
      cdf24 = #{cdf24,jdbcType=VARCHAR},
      cdf25 = #{cdf25,jdbcType=VARCHAR},
      cdf26 = #{cdf26,jdbcType=VARCHAR},
      cdf27 = #{cdf27,jdbcType=VARCHAR},
      cdf28 = #{cdf28,jdbcType=VARCHAR},
      cdf29 = #{cdf29,jdbcType=VARCHAR},
      cdf30 = #{cdf30,jdbcType=VARCHAR},
      product_info = #{productInfo,jdbcType=LONGVARCHAR}
    where std_product_no = #{stdProductNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csjscm.core.framework.model.Spu">
    update spu
    set category_id = #{categoryId,jdbcType=VARCHAR},
      guidance_price = #{guidancePrice,jdbcType=DECIMAL},
      page_title = #{pageTitle,jdbcType=VARCHAR},
      distribution_condition = #{distributionCondition,jdbcType=VARCHAR},
      isvalidate = #{isvalidate,jdbcType=INTEGER},
      page_main_pic = #{pageMainPic,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_user_id = #{editUserId,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      cdf1 = #{cdf1,jdbcType=VARCHAR},
      cdf2 = #{cdf2,jdbcType=VARCHAR},
      cdf3 = #{cdf3,jdbcType=VARCHAR},
      cdf4 = #{cdf4,jdbcType=VARCHAR},
      cdf5 = #{cdf5,jdbcType=VARCHAR},
      cdf6 = #{cdf6,jdbcType=VARCHAR},
      cdf7 = #{cdf7,jdbcType=VARCHAR},
      cdf8 = #{cdf8,jdbcType=VARCHAR},
      cdf9 = #{cdf9,jdbcType=VARCHAR},
      cdf10 = #{cdf10,jdbcType=VARCHAR},
      cdf11 = #{cdf11,jdbcType=VARCHAR},
      cdf12 = #{cdf12,jdbcType=VARCHAR},
      cdf13 = #{cdf13,jdbcType=VARCHAR},
      cdf14 = #{cdf14,jdbcType=VARCHAR},
      cdf15 = #{cdf15,jdbcType=VARCHAR},
      cdf16 = #{cdf16,jdbcType=VARCHAR},
      cdf17 = #{cdf17,jdbcType=VARCHAR},
      cdf18 = #{cdf18,jdbcType=VARCHAR},
      cdf19 = #{cdf19,jdbcType=VARCHAR},
      cdf20 = #{cdf20,jdbcType=VARCHAR},
      cdf21 = #{cdf21,jdbcType=VARCHAR},
      cdf22 = #{cdf22,jdbcType=VARCHAR},
      cdf23 = #{cdf23,jdbcType=VARCHAR},
      cdf24 = #{cdf24,jdbcType=VARCHAR},
      cdf25 = #{cdf25,jdbcType=VARCHAR},
      cdf26 = #{cdf26,jdbcType=VARCHAR},
      cdf27 = #{cdf27,jdbcType=VARCHAR},
      cdf28 = #{cdf28,jdbcType=VARCHAR},
      cdf29 = #{cdf29,jdbcType=VARCHAR},
      cdf30 = #{cdf30,jdbcType=VARCHAR}
    where std_product_no = #{stdProductNo,jdbcType=VARCHAR}
  </update>
</mapper>