<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csjscm.core.framework.dao.SkuCustomerMapper">
  <resultMap id="BaseResultMap" type="com.csjscm.core.framework.model.SkuCustomer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_no" jdbcType="VARCHAR" property="productNo" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="customer_no" jdbcType="VARCHAR" property="customerNo" />
    <result column="customer_pd_no" jdbcType="VARCHAR" property="customerPdNo" />
    <result column="customer_pd_name" jdbcType="VARCHAR" property="customerPdName" />
    <result column="customer_pd_rule" jdbcType="VARCHAR" property="customerPdRule" />
    <result column="customer_pd_size" jdbcType="VARCHAR" property="customerPdSize" />
    <result column="reference_price" jdbcType="DECIMAL" property="referencePrice" />
    <result column="recent_quotation" jdbcType="DECIMAL" property="recentQuotation" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="edit_user_id" jdbcType="VARCHAR" property="editUserId" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="udf1" jdbcType="VARCHAR" property="udf1" />
    <result column="udf2" jdbcType="VARCHAR" property="udf2" />
    <result column="udf3" jdbcType="VARCHAR" property="udf3" />
    <result column="udf4" jdbcType="VARCHAR" property="udf4" />
    <result column="udf5" jdbcType="VARCHAR" property="udf5" />
    <result column="udf6" jdbcType="VARCHAR" property="udf6" />
    <result column="udf7" jdbcType="VARCHAR" property="udf7" />
    <result column="udf8" jdbcType="VARCHAR" property="udf8" />
    <result column="udf9" jdbcType="VARCHAR" property="udf9" />
    <result column="udf10" jdbcType="VARCHAR" property="udf10" />
    <result column="udf11" jdbcType="VARCHAR" property="udf11" />
    <result column="udf12" jdbcType="VARCHAR" property="udf12" />
    <result column="udf13" jdbcType="VARCHAR" property="udf13" />
    <result column="udf14" jdbcType="VARCHAR" property="udf14" />
    <result column="udf15" jdbcType="VARCHAR" property="udf15" />
    <result column="udf16" jdbcType="VARCHAR" property="udf16" />
    <result column="udf17" jdbcType="VARCHAR" property="udf17" />
    <result column="udf18" jdbcType="VARCHAR" property="udf18" />
    <result column="udf19" jdbcType="VARCHAR" property="udf19" />
    <result column="udf20" jdbcType="VARCHAR" property="udf20" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_no, customer_id, customer_no, customer_pd_no, customer_pd_name, customer_pd_rule, 
    customer_pd_size, reference_price, recent_quotation, create_user_id, create_time, 
    edit_user_id, edit_time, udf1, udf2, udf3, udf4, udf5, udf6, udf7, udf8, udf9, udf10, 
    udf11, udf12, udf13, udf14, udf15, udf16, udf17, udf18, udf19, udf20
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sku_customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sku_customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.csjscm.core.framework.model.SkuCustomer">
    insert into sku_customer (id, product_no, customer_id, 
      customer_no, customer_pd_no, customer_pd_name, 
      customer_pd_rule, customer_pd_size, reference_price, 
      recent_quotation, create_user_id, create_time, 
      edit_user_id, edit_time, udf1, 
      udf2, udf3, udf4, udf5, 
      udf6, udf7, udf8, udf9, 
      udf10, udf11, udf12, 
      udf13, udf14, udf15, 
      udf16, udf17, udf18, 
      udf19, udf20)
    values (#{id,jdbcType=INTEGER}, #{productNo,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, 
      #{customerNo,jdbcType=VARCHAR}, #{customerPdNo,jdbcType=VARCHAR}, #{customerPdName,jdbcType=VARCHAR}, 
      #{customerPdRule,jdbcType=VARCHAR}, #{customerPdSize,jdbcType=VARCHAR}, #{referencePrice,jdbcType=DECIMAL}, 
      #{recentQuotation,jdbcType=DECIMAL}, #{createUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{editUserId,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, #{udf1,jdbcType=VARCHAR}, 
      #{udf2,jdbcType=VARCHAR}, #{udf3,jdbcType=VARCHAR}, #{udf4,jdbcType=VARCHAR}, #{udf5,jdbcType=VARCHAR}, 
      #{udf6,jdbcType=VARCHAR}, #{udf7,jdbcType=VARCHAR}, #{udf8,jdbcType=VARCHAR}, #{udf9,jdbcType=VARCHAR}, 
      #{udf10,jdbcType=VARCHAR}, #{udf11,jdbcType=VARCHAR}, #{udf12,jdbcType=VARCHAR}, 
      #{udf13,jdbcType=VARCHAR}, #{udf14,jdbcType=VARCHAR}, #{udf15,jdbcType=VARCHAR}, 
      #{udf16,jdbcType=VARCHAR}, #{udf17,jdbcType=VARCHAR}, #{udf18,jdbcType=VARCHAR}, 
      #{udf19,jdbcType=VARCHAR}, #{udf20,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.csjscm.core.framework.model.SkuCustomer">
    insert into sku_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productNo != null">
        product_no,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customerNo != null">
        customer_no,
      </if>
      <if test="customerPdNo != null">
        customer_pd_no,
      </if>
      <if test="customerPdName != null">
        customer_pd_name,
      </if>
      <if test="customerPdRule != null">
        customer_pd_rule,
      </if>
      <if test="customerPdSize != null">
        customer_pd_size,
      </if>
      <if test="referencePrice != null">
        reference_price,
      </if>
      <if test="recentQuotation != null">
        recent_quotation,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="editUserId != null">
        edit_user_id,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="udf1 != null">
        udf1,
      </if>
      <if test="udf2 != null">
        udf2,
      </if>
      <if test="udf3 != null">
        udf3,
      </if>
      <if test="udf4 != null">
        udf4,
      </if>
      <if test="udf5 != null">
        udf5,
      </if>
      <if test="udf6 != null">
        udf6,
      </if>
      <if test="udf7 != null">
        udf7,
      </if>
      <if test="udf8 != null">
        udf8,
      </if>
      <if test="udf9 != null">
        udf9,
      </if>
      <if test="udf10 != null">
        udf10,
      </if>
      <if test="udf11 != null">
        udf11,
      </if>
      <if test="udf12 != null">
        udf12,
      </if>
      <if test="udf13 != null">
        udf13,
      </if>
      <if test="udf14 != null">
        udf14,
      </if>
      <if test="udf15 != null">
        udf15,
      </if>
      <if test="udf16 != null">
        udf16,
      </if>
      <if test="udf17 != null">
        udf17,
      </if>
      <if test="udf18 != null">
        udf18,
      </if>
      <if test="udf19 != null">
        udf19,
      </if>
      <if test="udf20 != null">
        udf20,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productNo != null">
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null">
        #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="customerPdNo != null">
        #{customerPdNo,jdbcType=VARCHAR},
      </if>
      <if test="customerPdName != null">
        #{customerPdName,jdbcType=VARCHAR},
      </if>
      <if test="customerPdRule != null">
        #{customerPdRule,jdbcType=VARCHAR},
      </if>
      <if test="customerPdSize != null">
        #{customerPdSize,jdbcType=VARCHAR},
      </if>
      <if test="referencePrice != null">
        #{referencePrice,jdbcType=DECIMAL},
      </if>
      <if test="recentQuotation != null">
        #{recentQuotation,jdbcType=DECIMAL},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUserId != null">
        #{editUserId,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="udf1 != null">
        #{udf1,jdbcType=VARCHAR},
      </if>
      <if test="udf2 != null">
        #{udf2,jdbcType=VARCHAR},
      </if>
      <if test="udf3 != null">
        #{udf3,jdbcType=VARCHAR},
      </if>
      <if test="udf4 != null">
        #{udf4,jdbcType=VARCHAR},
      </if>
      <if test="udf5 != null">
        #{udf5,jdbcType=VARCHAR},
      </if>
      <if test="udf6 != null">
        #{udf6,jdbcType=VARCHAR},
      </if>
      <if test="udf7 != null">
        #{udf7,jdbcType=VARCHAR},
      </if>
      <if test="udf8 != null">
        #{udf8,jdbcType=VARCHAR},
      </if>
      <if test="udf9 != null">
        #{udf9,jdbcType=VARCHAR},
      </if>
      <if test="udf10 != null">
        #{udf10,jdbcType=VARCHAR},
      </if>
      <if test="udf11 != null">
        #{udf11,jdbcType=VARCHAR},
      </if>
      <if test="udf12 != null">
        #{udf12,jdbcType=VARCHAR},
      </if>
      <if test="udf13 != null">
        #{udf13,jdbcType=VARCHAR},
      </if>
      <if test="udf14 != null">
        #{udf14,jdbcType=VARCHAR},
      </if>
      <if test="udf15 != null">
        #{udf15,jdbcType=VARCHAR},
      </if>
      <if test="udf16 != null">
        #{udf16,jdbcType=VARCHAR},
      </if>
      <if test="udf17 != null">
        #{udf17,jdbcType=VARCHAR},
      </if>
      <if test="udf18 != null">
        #{udf18,jdbcType=VARCHAR},
      </if>
      <if test="udf19 != null">
        #{udf19,jdbcType=VARCHAR},
      </if>
      <if test="udf20 != null">
        #{udf20,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csjscm.core.framework.model.SkuCustomer">
    update sku_customer
    <set>
      <if test="productNo != null">
        product_no = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null">
        customer_no = #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="customerPdNo != null">
        customer_pd_no = #{customerPdNo,jdbcType=VARCHAR},
      </if>
      <if test="customerPdName != null">
        customer_pd_name = #{customerPdName,jdbcType=VARCHAR},
      </if>
      <if test="customerPdRule != null">
        customer_pd_rule = #{customerPdRule,jdbcType=VARCHAR},
      </if>
      <if test="customerPdSize != null">
        customer_pd_size = #{customerPdSize,jdbcType=VARCHAR},
      </if>
      <if test="referencePrice != null">
        reference_price = #{referencePrice,jdbcType=DECIMAL},
      </if>
      <if test="recentQuotation != null">
        recent_quotation = #{recentQuotation,jdbcType=DECIMAL},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUserId != null">
        edit_user_id = #{editUserId,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="udf1 != null">
        udf1 = #{udf1,jdbcType=VARCHAR},
      </if>
      <if test="udf2 != null">
        udf2 = #{udf2,jdbcType=VARCHAR},
      </if>
      <if test="udf3 != null">
        udf3 = #{udf3,jdbcType=VARCHAR},
      </if>
      <if test="udf4 != null">
        udf4 = #{udf4,jdbcType=VARCHAR},
      </if>
      <if test="udf5 != null">
        udf5 = #{udf5,jdbcType=VARCHAR},
      </if>
      <if test="udf6 != null">
        udf6 = #{udf6,jdbcType=VARCHAR},
      </if>
      <if test="udf7 != null">
        udf7 = #{udf7,jdbcType=VARCHAR},
      </if>
      <if test="udf8 != null">
        udf8 = #{udf8,jdbcType=VARCHAR},
      </if>
      <if test="udf9 != null">
        udf9 = #{udf9,jdbcType=VARCHAR},
      </if>
      <if test="udf10 != null">
        udf10 = #{udf10,jdbcType=VARCHAR},
      </if>
      <if test="udf11 != null">
        udf11 = #{udf11,jdbcType=VARCHAR},
      </if>
      <if test="udf12 != null">
        udf12 = #{udf12,jdbcType=VARCHAR},
      </if>
      <if test="udf13 != null">
        udf13 = #{udf13,jdbcType=VARCHAR},
      </if>
      <if test="udf14 != null">
        udf14 = #{udf14,jdbcType=VARCHAR},
      </if>
      <if test="udf15 != null">
        udf15 = #{udf15,jdbcType=VARCHAR},
      </if>
      <if test="udf16 != null">
        udf16 = #{udf16,jdbcType=VARCHAR},
      </if>
      <if test="udf17 != null">
        udf17 = #{udf17,jdbcType=VARCHAR},
      </if>
      <if test="udf18 != null">
        udf18 = #{udf18,jdbcType=VARCHAR},
      </if>
      <if test="udf19 != null">
        udf19 = #{udf19,jdbcType=VARCHAR},
      </if>
      <if test="udf20 != null">
        udf20 = #{udf20,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csjscm.core.framework.model.SkuCustomer">
    update sku_customer
    set product_no = #{productNo,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=VARCHAR},
      customer_no = #{customerNo,jdbcType=VARCHAR},
      customer_pd_no = #{customerPdNo,jdbcType=VARCHAR},
      customer_pd_name = #{customerPdName,jdbcType=VARCHAR},
      customer_pd_rule = #{customerPdRule,jdbcType=VARCHAR},
      customer_pd_size = #{customerPdSize,jdbcType=VARCHAR},
      reference_price = #{referencePrice,jdbcType=DECIMAL},
      recent_quotation = #{recentQuotation,jdbcType=DECIMAL},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_user_id = #{editUserId,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      udf1 = #{udf1,jdbcType=VARCHAR},
      udf2 = #{udf2,jdbcType=VARCHAR},
      udf3 = #{udf3,jdbcType=VARCHAR},
      udf4 = #{udf4,jdbcType=VARCHAR},
      udf5 = #{udf5,jdbcType=VARCHAR},
      udf6 = #{udf6,jdbcType=VARCHAR},
      udf7 = #{udf7,jdbcType=VARCHAR},
      udf8 = #{udf8,jdbcType=VARCHAR},
      udf9 = #{udf9,jdbcType=VARCHAR},
      udf10 = #{udf10,jdbcType=VARCHAR},
      udf11 = #{udf11,jdbcType=VARCHAR},
      udf12 = #{udf12,jdbcType=VARCHAR},
      udf13 = #{udf13,jdbcType=VARCHAR},
      udf14 = #{udf14,jdbcType=VARCHAR},
      udf15 = #{udf15,jdbcType=VARCHAR},
      udf16 = #{udf16,jdbcType=VARCHAR},
      udf17 = #{udf17,jdbcType=VARCHAR},
      udf18 = #{udf18,jdbcType=VARCHAR},
      udf19 = #{udf19,jdbcType=VARCHAR},
      udf20 = #{udf20,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>